{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<h1 class="item-title">{{ workshop.name }}</h1>
<div class="item-details">
    <p>Den: {{ workshop.day }}</p>
    <p>Čas: {{ workshop.time_from }} - {{ workshop.time_to }}</p>
    <p>Třída: {{ workshop.room }}</p>
    <br>
    <p>{{ workshop.description }}</p>
</div>
<div class="item-image">
    <img src="/static/upload/{{ workshop.picture_filename }}">
</div>


<script>
    document.getElementById('program').classList.add('active');
</script>
{% endblock %}