{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}
{% from "formutils.html" import render_field %}
<div class="container container-form">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend>Přidat novou položku</legend>
            {{ render_field(form.name) }}
            {{ render_field(form.item_type) }}
            {{ render_field(form.price) }}
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn") }}
        </div>
    </form>
</div>

{% endblock %}