.content {
    width: 100vw;
    display: flex;
}

.program-container {
    border: 1px solid var(--text-color);
    border-radius: 2px;
    margin-top: 0;
    user-select: none;
}

.rooms-container {
    margin-top: 1.5rem;
}

.program-item {
    border-radius: 2px;
    position: relative;
    transition: none;
    border: 1px dashed #ffffff;
}

.program-item:hover {
    cursor: move;
    min-width: unset;
}

.program-item.selected {
    border: 2px solid var(--text-color);
    z-index: 10;
}

.program-editor {
    display: flex;
    gap: 1rem;
    position: relative;
    width: max-content;
}

.interactive-item-details { /* musi mit divnej nazev protoze trida item-details uz existuje v program.css */
    border: 1px solid var(--text-color);
    border-radius: 2px;
    padding: .5rem;
    min-width: 300px;
}

.interactive-item-details div {
    line-height: 1.5rem;
}

.save-program-button {
    width: 4rem;
    height: 3rem;
    position: absolute;
    right: 0;
    bottom: -4rem;
}

.new-items {
    width: 4rem;
    height: 3rem;
    position: absolute;
    left: 2rem;
    bottom: -4rem;
    width: max-content;
}

.new-items div {
    margin-bottom: .2rem;
    font-size: large;
}