.content {
    width: 100vw;
    display: flex;
}

.program-container {
    border: 1px solid var(--text-color);
    border-radius: 2px;
    margin-top: 0;
    user-select: none;
}

.program-container-wrapper {
    overflow-y: scroll !important;

}

.rooms-container {
    margin-top: 24px;
}

.program-item {
    border-radius: 2px;
    position: relative;
    transition: none;
    border: 1px dashed #ffffff;
}

.program-item:hover {
    cursor: move;
    min-width: unset;
}

.program-item.selected {
    border: 2px solid var(--text-color);
    z-index: 10;
}

.program-editor {
    display: flex;
    gap: 16px;
    position: fixed;
    width: max-content;
    top: 208px;
    left: 8px;
    overflow: scroll;
    max-width: 100vw;
    min-height: fit-content;
}

.interactive-item-details { /* musi mit divnej nazev protoze trida item-details uz existuje v program.css */
    border: 1px solid var(--text-color);
    border-radius: 2px;
    padding: 8px;
    min-width: 300px;
}

.interactive-item-details div {
    line-height: 1.5rem;
}

.save-program-button {
    width: 128px;
    height: 48px;
    position: fixed;
    right: 16px;
    bottom: 72px;
    font-size: 24px;
}

.new-items {
    position: fixed;
    left: 0;
    bottom: 48px;
    padding: 8px;
    width: max-content;
    background-color: var(--bg-color);
    border-top-right-radius: var(--border-radius);
}

.new-items div {
    margin-bottom: 4px;
    font-size: large;
}

.alert {
    position: fixed;
    right: 2px;
    bottom: 52px;
}