:root {
    --text-color: #e7eaf9;
    --bg-color: #161618;
    --secondary-color: #1b2720;
    --active-page-color: #666565;
    --link-color: #a682ee;
    --hover-link-color: #bca4ee;
    --button-color: #34145a;
    --disabled-button-color: #222224;
    --disabled-text-color: #3c4d42;
    --border-radius: 25px;
    --favorite-color: #ffff00;
    --table-hover-color: rgba(120, 173, 182, 0.2);
    --search-highlight-color: #fceb04ad;
    --form-color: #1e1e22;
    --form-field-color: #37363e;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

a {
    color: var(--link-color)
}
a:visited {
    color: var(--link-color)
}

::-webkit-scrollbar {
    background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: var(--button-color);
    color: var(--link-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-weight: 600;
}

a.disabled, .button-link.disabled a {
    pointer-events: none;
    cursor: default;
    color: var(--disabled-text-color);
}

.button-link.disabled {
    background-color: var(--disabled-button-color);
}

.disabled {
    color: var(--disabled-text-color);
}

a:hover {
    color: var(--hover-link-color);
}

.content {
    width: min-content;
    min-width: 70vw;
    max-width: 100vw;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1vw;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

a mark {
    color: var(--bg-color);
    background-color: var(--search-highlight-color);
}

[type="button"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

.alert {
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    line-height: 2rem;
    min-width: 50%;
    text-align: center;
    margin-top: .3rem;
    font-style: italic;
    text-indent: 3px;
}

.alert i {
    float: right;
    line-height: 2rem;
    margin-right: 5px;
    cursor: pointer;
    padding-right: 2px;
    padding-left: 3px;
}

.btn {
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid transparent;
    border-color: var(--text-color);
    border-radius: .25rem;
    font-size: 1rem;
    line-height: 1.5;
    text-decoration: none;
}

/* #region galerie */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}

.gallery img.full {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    background: var(--bg-color);
}
.album-link {
    font-size: 110%;
    border: 1px solid var(--link-color);
    padding: .5rem;
    border-radius: var(--border-radius);
}

@media screen and (max-width: 800px) {
    .gallery {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (max-width: 500px) {
    .gallery {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .gallery img {
        height: 400px;
    }
}
/* #endregion galerie */

/* #region program-items */
.grid-items-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 95%;
    gap: 15px;
    position: relative;
}

.grid-items-container .item {
    position: relative;
    width: 100%;
    grid-column-start: span 2;
    grid-row: span 1;
    border: 1px solid var(--text-color);
    cursor: pointer;
    border-radius: var(--border-radius);
}

.grid-items-container .item-description {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: var(--bg-color);
    text-align: center;
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

.grid-items-container .item img {
    aspect-ratio: 16/9;
    object-fit: cover;
    width: inherit;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.grid-items-container .item .item-details {
    text-align: center;
}

.grid-items-container .item .item-details h2 {
    font-size: 1.65rem;
    margin: 0;
}

.grid-items-container .item .item-details h3 {
    margin: 0;
    font-size: 1.2rem;
}

.grid-items-container .item .item-description p {
    margin: 7px;
}

.item-description {
    border-radius: var(--border-radius);
}

.grid-items-container .item .item-description nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: .35vh;
}
/* #endregion program-items */

/* #region program */
.program-nav {
    width: 100%;
    text-align: center;
}

.program-nav a {
    margin-top: 5px;
}

.program-day.program-nav {
    position: fixed;
    bottom: 55px;
    left: 0;
    background-color: var(--bg-color);
    padding-bottom: 15px;
}

.program-all-container {
    display: flex;
    align-items: start;
    overflow-x: scroll;
    justify-content: space-around;
    flex-flow: column wrap;
    gap: 10px;
    max-width: 100vw;
}
/* #endregion program */

/* #region search */

.search-input {
    border-radius: var(--border-radius);
    width: 63%;
    height: 2rem;
    margin: 1rem;
    padding: 5px;
    min-width: 300px;
}

.search-results {
    min-width: 300px;
    width: 60%;
}

/* #endregion search */

/* #region topnav*/
.topnav {
    overflow: hidden;
    background-color: var(--secondary-color);
    align-items: center;
    display: flex;
    min-height: 50px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.topnav a {
    float: left;
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 12px 16px;
    margin-right: 0.2vw;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    padding-left: 40px;
    padding-right: 40px;
}

.topnav a.logo {
    font-size: 23px;
    font-weight: bold;
    padding: 11px 20px 10px 0;
    padding-right: 1.4vw;
    margin-left: 1vw;
    margin-right: 1.4vw;
    position: relative;
}

/* tohle je aby mohl border zabirat jenom nejakou cast vysky elementu */
.topnav a.logo::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    height: 75%;
    border-right: 2px solid var(--text-color);
    transform: translateY(-50%);
}

.topnav-links a:hover {
    background-color: var(--text-color);
    transition: 1s ease;
    color: var(--bg-color);
}

.topnav-links a {
    border-radius: var(--border-radius);
}

.topnav a.active {
    background-color: var(--active-page-color);
    color: var(--text-color);
}

.topnav .icon {
    display: none;
    margin-left: auto;
}

.topnav-right {
    float: right;
}

.topnav-left {
    float: left;
}

#search {
    padding: 10px;
    padding-left: 11px;
    padding-right: 11px;
    margin-top: 2px;
    border-radius: 400px;
}

/* #endregion topnav*/

/* #region forms */
.container-form {
    width: 70%;
    min-width: 320px;
    max-width: 500px;
    margin-top: 3rem;
    background-color: var(--form-color);
    padding: 20px;
    border-radius: var(--border-radius);
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    border-bottom: 1px solid var(--text-color);
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: 1.2rem;
    font-size: calc(1.275rem + .3vw);
    line-height: inherit;
}

label {
    font-size: 110%;
}

textarea {
    width: 100%;
    resize: vertical;
    background-color: var(--form-field-color);
    border: 1px var(--bg-color) solid;
    color: var(--text-color);
    border-radius: var(--border-radius);
}

select {
    background-color: var(--form-field-color);
    color: var(--text-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--disabled-text-color);
}

.form-group:not(:last-child) {
    margin-bottom: 1rem;
}

input.form-control {
    width: 100%;
    background-color: var(--form-field-color);
    color: var(--text-color);
    border: none;
    height: 2rem;
    border-radius: calc(var(--border-radius) - 15px);
    text-indent: 5px;
    font-size: 100%;
    margin-top: 0.2rem;
}

input.invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
}

.form-check-input {
    margin-left: 0;
}

.form-check label {
    font-size: 90%;
}

.form-submit {
    margin-top: 2rem;
    width: 100%;
    margin-bottom: 5px;
}

.invalid-feedback {
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: #dc3545;
}
/* #endregion forms */

/* #region footer */
footer {
    color: var(--text-color);
    text-align: center;
    padding: 5px;
    padding-top: 1px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    max-height: 56px;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: var(--text-color);
    text-decoration: none;
    font-size: 20px;
}

.system-links {
    font-size: 80%;
}

/* #endregion footer */

@media screen and (max-width: 1312px) {
    .topnav a {
        font-size: 16px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .content {
        min-width: 78vw;
    }
    .grid-items-container {
        grid-template-columns: repeat(4, 1fr);
    }
    .search-input {
        width: 75%;
    }
    
    .search-results {
        width: 72%;
    }
}

@media screen and (max-width: 1162px) {
    .topnav a {
        font-size: 16px;
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media screen and (max-width: 1530px) { /* stejny jako breakpoint v program.css */
    .topnav:not(.responsive) a:not(.logo):not(.active):not(.icon) {
        display: none;
    }
    
    .topnav a {
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive a.logo {
        width: fit-content;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .topnav-links a {
        text-align: center;
    }

    .topnav a.logo {
        padding: 11px 20px 8px 3px;
        padding-right: 10px;
        margin-right: 10px;
    }

    .topnav-links a {
        text-transform: none;
    }

    .topnav.responsive .topnav-links {
        margin-top: 52px; /* 50px je vyska navbaru + 2 pro margin */
        margin-right: 2px;
        align-self: baseline;
        position: fixed;
        right: 0;
        background-color: var(--secondary-color);
        border-radius: 20px;
        z-index: 10;
        overflow: hidden;
    }
    .content {
        min-width: 85vw;
    }
}

@media screen and (max-width: 800px) {
    .grid-items-container {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 30px;
        padding-right: 30px;
    }
    .search-input {
        width: 83%;
    }
    
    .search-results {
        width: 80%;
    }
}

@media screen and (max-width: 530px) {
    .topnav a.logo {
        font-size: 18px;
    }
    .topnav a {
        font-size: 15px;
    }
    .content {
        min-width: 90vw;
    }
    .grid-items-container .item .item-details h2 {
        font-size: 1.5rem;
    }
    .grid-items-container .item .item-details h3 {
        font-size: 1.05rem;
    }
}

@media screen and (max-width: 440px) {
    .topnav a.logo {
        text-transform: none;
    }
    .content {
        min-width: 95vw;
    }
    .grid-items-container {
        padding-left: 15px;
        padding-right: 15px;
    }
}