body {
    --text-color: #f2f2f2;
    --bg-color: #161618;
    --secondary-color: #333;
    --active-page-color: #666565;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

* {
    box-sizing: border-box;
}

.content {
    margin-left: 1vw;
    margin-right: 1vw;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

/* topnav */
.topnav {
    overflow: hidden;
    background-color: var(--secondary-color);
    align-items: center;
    display: flex;
    min-height: 46px; /* to je soucet marginu paddingu a vysky topnav linku (.topnav a) */
}

.topnav a {
    float: left;
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 14px 16px;
    margin-right: 0.2vw;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    padding-left: 40px;
    padding-right: 40px;
}

.topnav a.logo {
    font-size: 25px;
    font-weight: bold;
    padding: 11px 20px 10px 0;
    padding-right: 1.4vw;
    margin-left: 1vw;
    margin-right: 1.4vw;
    border-right: 2px solid var(--text-color);
}

.topnav-links a:hover {
    background-color: var(--text-color);
    transition: 1s ease;
    color: var(--bg-color);
}

.topnav-links a {
    border-radius: 10px;
}

.topnav a.active {
    background-color: var(--active-page-color);
    color: var(--text-color);
}

.topnav .icon {
    display: none;
    margin-left: auto;
}

.topnav-right {
    float: right;
}

.topnav-left {
    float: left;
}

/* end topnav */

/* login/register forms */
.container-form {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    border-bottom: 1px solid var(--text-color);
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: calc(1.275rem + .3vw);
    line-height: inherit;
}

.form-group {
    margin-bottom: 1rem;
}

.form-input {
    width: 100%;
}

.form-input.invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
}

.form-check {
    display: block;
    min-height: 1rem;
}

.btn {
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid transparent;
    border-color: var(--text-color);
    border-radius: .25rem;
    font-size: 1rem;
    line-height: 1.5;

}

.border-top {
    border-top: 1px solid;
}

.invalid-feedback {
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: #dc3545;
}

.alert {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 40rem;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: .25rem;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}
/* end login/register forms */

/* footer */
footer {
    color: var(--text-color);
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: var(--text-color);
    text-decoration: none;
    font-size: 20px;
}
/* end footer */

@media screen and (max-width: 1300px) {
    .topnav a {
        font-size: 16px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 1150px) {
    .topnav a {
        font-size: 16px;
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media screen and (max-width: 1078px) {
    .topnav:not(.responsive) a:not(.logo):not(.active):not(.icon) {
        display: none;
    }
    /* .topnav a.active {
        align-self: end;
    } */
    .topnav a {
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 0;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive a.logo {
        width: fit-content;
    }

    .topnav.responsive {
        position: relative;
        display: block;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .topnav-links a {
        text-align: center;
    }

    .topnav a.logo {
        padding: 11px 20px 8px 3px;
        padding-right: 10px;
        margin-right: 10px;
    }

    .topnav-links a {
        text-transform: none;
    }

    .topnav.responsive .topnav-links {
        margin-top: 0.2rem;
        margin-right: 0.2rem;
        position: fixed;
        right: 0;
        background-color: var(--secondary-color);
        border-radius: 10px;
        z-index: 10;
        overflow: hidden;
    }
}

@media screen and (max-width: 530px) {
    .topnav a.logo {
        font-size: 18px;
    }

}

/* @media screen and (max-width: 410px) {
    .topnav-links a {
        display: none;
    }

    .topnav .icon {
        padding-left: 0;
    }
} */