:root, :root.dark {
    --text-color: #dde2e7;
    --bg-color: #0e0505;
    --active-page-color: #4b0000;
    --secondary-color: #690000;
    --topnav-color: #2b0000;
    --division-line-color: #440a00; /* barva cary mezi topnavem a contentem a footerem a contentem */
    --responsive-topnav-color: #100000;
    --link-color: var(--text-color);
    --hover-link-color: #ffc095;
    --button-color: #4b0900;
    --disabled-button-color: #2c1e1e;
    --disabled-text-color: #3c4d42;
    --border-radius: 25px;
    --favorite-color: #ffff00;
    --table-hover-color: #4b0000bb;
    --search-highlight-color: #fceb04ad;
    --form-color: #11171b;
    --form-field-color: #37363e;
    --dropdown-color: var(--responsive-topnav-color);
    --search-bar-hover-color: var(--active-page-color);
    --alert-success-color: lightgreen;
    --alert-danger-color: #f57373;
}

:root.light {
    --text-color: #240202;
    --bg-color: #edf2f7;
    --active-page-color: #55a5cabb;
    --secondary-color: #00b7ce;
    --topnav-color: var(--bg-color);
    --division-line-color: var(--secondary-color);
    --responsive-topnav-color: #cadcee;
    --link-color: var(--text-color);
    --hover-link-color: #003541;
    --button-color: #68b6e4;
    --disabled-button-color: #788b99;
    --disabled-text-color: #424d53;
    --border-radius: 25px;
    --favorite-color: #ffff00;
    --table-hover-color: #00b7ce33;
    --search-highlight-color: #690000ad;
    --form-color: #8cbfe9;
    --form-field-color: #689bc5;
    --dropdown-color: var(--responsive-topnav-color);
    --search-bar-hover-color: var(--table-hover-color);
    --alert-success-color: darkgreen;
    --alert-danger-color: #771616;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

p {
    font-family: "Roboto", sans-serif;
}

a {
    color: var(--link-color)
}
a:visited {
    color: var(--link-color)
}

::-webkit-scrollbar {
    background-color: transparent;
}

::-webkit-scrollbar:vertical {
    width: 10px;
}

::-webkit-scrollbar:horizontal {
    height: 10px;
    border-radius: 4px;
}

html.dark body::-webkit-scrollbar:hover { /* z nejakyho duvodu kdyz pouziju :root misto html tak to chrom nechape */
    background-color: #171717;
}

::-webkit-scrollbar-thumb {
    background-color: #959595;
    border-radius: 50px;
    border: 3px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    border: 2px solid transparent;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: var(--button-color);
    color: var(--link-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-weight: 600;
}

.button-link:hover {
    background-color: var(--secondary-color);
}

a.disabled, .button-link.disabled a {
    pointer-events: none;
    cursor: default;
    color: var(--disabled-text-color);
}

.button-link.disabled {
    background-color: var(--disabled-button-color);
}

.disabled {
    color: var(--disabled-text-color);
}

a:hover {
    color: var(--hover-link-color);
}

.content {
    width: min-content;
    min-width: 70vw;
    max-width: 100vw;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1vw;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

a mark {
    color: var(--bg-color);
    background-color: var(--search-highlight-color);
}

[type="button"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

.alert {
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    line-height: 2rem;
    min-width: 30%;
    text-align: center;
    margin-top: .3rem;
    font-style: italic;
    text-indent: 3px;
    transition: opacity 2s ease-in;
}

.alert-success {
    color: var(--alert-success-color);
}

.alert-danger {
    color: var(--alert-danger-color);
}

.alert i {
    float: right;
    line-height: 2rem;
    margin-right: 6px;
    cursor: pointer;
    padding-right: 4px;
    padding-left: 4px;
    color: var(--text-color);
}

.btn {
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid transparent;
    border-color: var(--text-color);
    border-radius: .25rem;
    font-size: 1rem;
    line-height: 1.5;
    text-decoration: none;
}

/* #region theme switch */
.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: var(--border-radius);
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: var(--border-radius);
}

input:checked + .slider {
    background-color: var(--secondary-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--secondary-color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}
/* #endregion */

/* #region galerie */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}

.album-link {
    font-size: 110%;
    border: 1px solid var(--link-color);
    padding: .5rem;
    border-radius: var(--border-radius);
}

#dropzone {
    border-radius: var(--border-radius);
    outline: 3px dashed var(--link-color);
    font-size: 1.8rem;
    background-color: var(--secondary-color);
}

@media screen and (max-width: 800px) {
    .gallery {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (max-width: 500px) {
    .gallery {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .gallery img {
        height: 400px;
    }
}
/* #endregion galerie */

/* #region program-items */ /* pro zobrazeni workshopu/hostu, vim ze je to debilni zavadejici nazev ale fakt se mi to nechce menit */
.grid-items-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 95%;
    gap: 15px;
    position: relative;
}

.grid-items-container .item {
    position: relative;
    width: 100%;
    grid-column-start: span 2;
    grid-row: span 1;
    border: 1px solid var(--text-color);
    cursor: pointer;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grid-items-container .item-description {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: var(--bg-color);
    text-align: center;
    cursor: pointer;
}

.grid-items-container .item-description > div {
    height: calc(100% - 40px); /* 40px je cca vyska navu s odkazem na program */
    display: flex;
    align-items: center; /* aby byl text vertikalne uprostred */
    justify-content: center;
    text-align: left;
}

.hidden {
    visibility: hidden;
}

.grid-items-container .item img {
    aspect-ratio: 3/2;
    object-fit: cover;
    width: inherit;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.grid-items-container .item .item-details {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.grid-items-container .item .item-details h2 {
    font-size: 1.65rem;
    margin: .5rem;
}

.grid-items-container .item .item-details h3 {
    margin: 0;
    font-size: 1.2rem;
}

.grid-items-container .item .item-description p {
    margin: 7px;
}

.item-description {
    border-radius: var(--border-radius);
}

.grid-items-container .item .item-description nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: .35vh;
}
/* #endregion program-items */

/* #region program all */
.program-all-container {
    display: flex;
    align-items: start;
    overflow-x: scroll;
    justify-content: space-around;
    flex-flow: column wrap;
    gap: 10px;
    max-width: 100vw;
}
/* #endregion program all */

/* #region search */
.search-input {
    text-indent: 10px;
    background: transparent;
    color: var(--text-color);
    line-height: 2.2rem;
    font-size: 100%;
    border: none;
    width: 100%;
}

.search-bar {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    width: 70%;
    min-width: 320px;
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
    height: 2.45rem;
    position: relative;
}

.search-input:focus {
    outline: none;
}

.search-input:hover {
    background-color: var(--search-bar-hover-color);
    border-radius: var(--border-radius);
}

.search-results {
    min-width: 300px;
    width: 60%;
}

/* #endregion search */

/* #region topnav*/
.topnav {
    background-color: var(--topnav-color);
    outline: 1px solid var(--division-line-color);
    align-items: center;
    display: flex;
    min-height: 60px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.topnav a {
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 15px;
    margin-right: 0.2vw;
    text-decoration: none;
    font-size: 19px;
    text-transform: uppercase;
    padding-left: 30px;
    padding-right: 30px;
}

.topnav #search {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topnav a.logo {
    font-size: 23px;
    font-weight: bold;
    padding: 11px 20px 10px 20px;
    min-width: fit-content;
    margin-right: 20px;
    position: relative;
}

/* tohle je aby mohl border zabirat jenom nejakou cast vysky elementu */
.topnav:not(.responsive) a.logo::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    height: 75%;
    border-right: 2px solid var(--text-color);
    transform: translateY(-50%);
}

.topnav {
    user-select: none;
}

.topnav:not(.responsive) .topnav-links {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.topnav:not(.responsive) .topnav-links a:hover {
    background-color: var(--secondary-color);
    transition: .3s ease;
}

.topnav-links a {
    border-radius: var(--border-radius);
}

.topnav a.active {
    background-color: var(--active-page-color);
    color: var(--text-color);
}

.topnav .icon {
    display: none;
    margin-left: auto;
}

.topnav-right {
    float: right;
}

.topnav-left {
    float: left;
}

#search {
    padding: 10px;
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 2px;
    border-radius: 400px;
}

.topnav:not(.responsive) .program-dropdown {
    position: relative;
    display: inline;
    margin-right: .2vw; /* stejny jako margin u .topnav a */
}

.program-dropdown > a { /* tohle je aby byl margin u dropdown divu a ne u linku vevnitr */
    margin-right: 0;
}

.program-dropdown.active {
    background-color: var(--active-page-color);
    border-radius: var(--border-radius);
}

.program-dropdown-content {
    display: none;
    z-index: 2;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    background-color: var(--dropdown-color);
    outline: 1px solid var(--secondary-color);
}

.responsive .program-dropdown-content.dropped {
    display: block;
}

.topnav:not(.responsive) .program-dropdown-content.dropped  {
    position: absolute;
    top: 60px;
    display: block;
    right: 0;
}

.program-dropdown-content.dropped a {
    margin-right: 0;
    width: 100%;
}

/* #endregion topnav*/

/* #region forms */
.container-form {
    width: 70%;
    min-width: 320px;
    max-width: 500px;
    margin-top: 3rem;
    background-color: var(--form-color);
    padding: 20px;
    border-radius: var(--border-radius);
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    border-bottom: 1px solid var(--text-color);
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: 1.2rem;
    font-size: calc(1.275rem + .3vw);
    line-height: inherit;
}

label {
    font-size: 110%;
}

textarea {
    width: 100%;
    resize: vertical;
    background-color: var(--form-field-color);
    border: 1px var(--bg-color) solid;
    color: var(--text-color);
    border-radius: var(--border-radius);
}

select {
    background-color: var(--form-field-color);
    color: var(--text-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--disabled-text-color);
}

.form-group:not(:last-child) {
    margin-bottom: 1rem;
}

input.form-control, input.form-input {
    width: 100%;
    background-color: var(--form-field-color);
    color: var(--text-color);
    border: none;
    height: 2rem;
    border-radius: calc(var(--border-radius) - 15px);
    text-indent: 5px;
    font-size: 100%;
    margin-top: 0.2rem;
}

input[type='checkbox'].form-control {
    width: unset;
    height: 1.2rem;
}

input.invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
}

.form-check-input {
    margin-left: 0;
}

.form-check label {
    font-size: 90%;
}

.form-submit {
    margin-top: 2rem;
    width: 100%;
    margin-bottom: 5px;
}

.invalid-feedback {
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: #dc3545;
}
/* #endregion forms */

/* #region footer */
footer {
    color: var(--text-color);
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    max-height: 3rem;
    border-top: 1px solid var(--division-line-color);
    z-index: 10;
}

footer .theme-switch i {
    font-size: 1.4rem;
}

footer .theme-switch {
    line-height: 1.4rem;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: var(--text-color);
    text-decoration: none;
    font-size: 20px;
}

.system-links {
    font-size: 80%;
}

/* #endregion footer */

/* #region history */
.history-year-box img {
    width: min(98vw, 500px);
}

.history-year-box img.vertical {
    width: min(98vw, 300px);
}

.history-year-box p {
    max-width: min(95vw, 1000px);
    text-align: left;
}

.history-year-box {
    text-align: center;
    margin-bottom: 1rem;
}
/* #endregion history */

/* #region uvod */
#uvod-text {
    text-align: justify;
    max-width: min(95vw, 1080px);
    font-size: 17px;
    margin-top: 1rem;
}

.logo-text {
    width: 97vw;
    max-width: 847px;
}
/* #endregion uvod */

@media screen and (max-width: 1312px) {
    .topnav a {
        font-size: 18px;
        padding: 12px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .content {
        min-width: 78vw;
    }
    .grid-items-container {
        grid-template-columns: repeat(4, 1fr);
    }
    .search-bar {
        width: 75vw;
    }
    
    .search-results {
        width: 72%;
    }
}

@media screen and (max-width: 1162px) {
    .topnav a {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media screen and (max-width: 1620px) {
    .topnav-links a {
        text-transform: none;
    }
}

@media screen and (min-width: 1455px) {
    .topnav:not(.responsive) .topnav-links > a, .topnav:not(.responsive) .topnav-links > div > a { /* aby byly topnav linky roztazeny, ale jenom dokud neni topnav collapsed */
        width: 100%;
        min-width: max-content;
    }
}

@media screen and (max-width: 1455px) { /* stejny jako breakpoint v program.css  - od totohle bodu predpokladam ze user je na necem co ma touchscreen*/
    .topnav:not(.responsive) .topnav-links > a:not(.logo):not(.active):not(.icon) {
        display: none !important; /* musi byt !important protoze u search icon nastavuju display flex kvuli zarovnani a to by melo vetsi prioritu */
    }

    .topnav:not(.responsive) .topnav-links .program-dropdown:not(.active) {
        display: none;
    }
    
    .topnav a {
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 0;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive a.logo {
        width: fit-content;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .topnav-links a {
        text-align: center;
    }

    .topnav a.logo {
        padding: 11px 10px 8px 10px;
        margin-right: 10px;
    }

    .topnav-links a {
        text-transform: none;
    }

    .topnav.responsive .topnav-links {
        margin-top: 64px; /* 60px je vyska navbaru + 4 pro margin */
        margin-right: 4px;
        align-self: baseline;
        position: fixed;
        right: 0;
        background-color: var(--responsive-topnav-color);
        outline: 1px solid var(--secondary-color);
        padding: 2px;
        border-radius: 25px;
        z-index: 10;
        overflow: hidden;
        overflow-y: auto;
        max-height: calc(95svh - 90px);
    }

    .topnav.responsive .program-dropdown-content {
        background-color: var(--responsive-topnav-color);
        margin-bottom: 2px;
    }

    .content {
        min-width: 85vw;
    }

    .history-year-box:not(:first-of-type):before {
        width:100%;
        height:1px;
        display: block;
        background: var(--disabled-text-color);
        content:"";
    }
}

@media screen and (max-width: 800px) {
    .grid-items-container {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 30px;
        padding-right: 30px;
    }
    .search-bar {
        width: 83vw;
    }
    
    .search-results {
        width: 80%;
    }
}

@media screen and (max-width: 530px) {
    .topnav a.logo {
        font-size: 19px;
    }

    .content {
        min-width: 90vw;
    }
    .grid-items-container .item .item-details h2 {
        font-size: 1.5rem;
    }
    .grid-items-container .item .item-details h3 {
        font-size: 1.05rem;
    }

    .social-icons a {
        margin: 0 5px;
    }
}

@media screen and (max-width: 460px) {
    .topnav a.logo {
        text-transform: none;
    }
    .content {
        min-width: 100vw;
    }
    .grid-items-container {
        padding-left: 0;
        padding-right: 1vw;
    }
}