.content {
    display: block;
}

.program-container {
    display: grid;
    grid-template-columns: repeat(360, 1fr);
    margin-top: 2rem;
    row-gap: 5px;
    position: relative;
    border: 1px solid var(--bg-color);
    padding: 1px;
    min-width: 750px;
    padding-right: 0;
    width: 65vw;
}

.program-container-wrapper {
    overflow-y: hidden; /* aby nebyly videt cary hodin */
}

body {
    --vline-left: 0; /* tohle je potreba protoze z js se nedaji modifikovat pseudoelementy */
    --vline-visibility: hidden;
    --film-color: #d93b65;
    --workshop-color: #ff7400;
    --beseda-color: #ffb730;
    --flash-border-color: #d7e0c8;
    --program-text-color: #121212;
}

.program-container::before { /* time vline */
    content: '';
    margin-top: 1.5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: var(--vline-left);
    width: 1px;
    border-left: 1px dashed var(--text-color);
    transform: translateX(-50%);
    visibility: var(--vline-visibility);
}

.program-item {
    background-color: var(--secondary-color);
    border-radius: 12px;
    text-align: center;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    transition: all 1s;
    font-size: 17px;
    margin-right: 1px;
    color: var(--program-text-color);
}

.program-item:hover {
    cursor: pointer;
}

.program-item div {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5rem;        /* fallback */
    max-height: 3rem;       /* fallback */
    text-indent: 3px;
    word-wrap: break-word;
}

.flashed {
    outline: 2px solid var(--flash-border-color);
    transition: all 0.2s;
}

.vertical div {
    writing-mode: vertical-rl;
    -webkit-line-clamp: 1;
    font-size: 80%;
}

.film {
    background-color: var(--film-color);
}
.workshop {
    background-color: var(--workshop-color);
}
.beseda {
    background-color: var(--beseda-color);
}

.program-wrapper {
    display: flex;
    justify-content: left;
}

.rooms-container {
    margin-top: 3.5rem;
    margin-right: 0;
    padding-right: 3px;
    padding-top: 3px;
}

.room {
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
}

.times-wrapper {
    display: contents;
}

.time-item {
    font-size: 20px;
    line-height: 1.5rem;
    text-align: left;
    border-bottom: 1px solid var(--bg-color);
    position: relative;
    padding-left: 2%;
}

.item-details {
    background-color: var(--secondary-color);
    margin: 1px;
    padding: 5px;
    border: 1px solid var(--text-color);
    height: 0;
    width: 0;
    width: fit-content;
    border-radius: 12px;
    line-height: 1.5rem;
    position: fixed;
    z-index: 5;
}

.item-details a div {
    color: var(--text-color);
}

.item-details .favorite-star {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.in-favorite {
    color: var(--favorite-color);
}

.content {
    margin-bottom: 120px;
}

@media screen and (min-width: 1000px) {
    .program-item:hover {
        border: 1px solid var(--bg-color);
        min-width: max-content;
        z-index: 5;
    }
    .program-item div:hover {
        font-size: 100%;
        -webkit-line-clamp: 2;
        writing-mode: initial;
    }
}

@media screen and (max-width: 1530px) { /* stejny jako breakpoint na zmenu topnavu v main.css */
    .program-container {
        width: 85vw;
        border: 1px solid var(--secondary-color);
    }
    .time-item {
        border-bottom: 1px solid var(--secondary-color);
    }
    .time-item:not(:last-child)::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: -100vh;
        border-right: 1px dotted var(--secondary-color);
        z-index: -1;
    }
}

@media screen and (max-width: 1312px) { /* stejny jako breakpoint v main.css */
    .program-container {
        width: 78vw;
    }
}

@media screen and (max-width: 850px) { /* 100px more than .program-container min-width */
    .program-container-wrapper {
        overflow-x: scroll;
    }
}

@media screen and (max-width: 550px) { /* pri jaky width collapsuje dolni nav na dny */
    .content {
        margin-bottom: 155px;
    }
} 

@media screen and (max-width: 450px) {
    .time-item {
        font-size: 17px;
    }
    .room {
        font-size: 17px;
    }
    .program-item {
        font-size: 16px;
    }
    .program-item div {
        text-indent: 0;
    }
    .content {
        margin-bottom: 150px;
    }
}