.program-container {
    display: grid;
    grid-template-columns: repeat(360, 1fr);
    margin-top: 2rem;
    row-gap: 5px;
    position: relative;
    border: 1px solid var(--secondary-color);
    padding: 1px;
    min-width: 750px;
}

:root {
    --vline-left: 0; /* tohle je potreba protoze z js se nedaji modifikovat pseudoelementy */
    --vline-visibility: hidden;
}

.program-container::before {
    content: '';
    margin-top: 1.5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: var(--vline-left);
    width: 1px; /* Set the width of the line */
    border-left: 1px dashed var(--text-color); /* Set the color of the line */
    transform: translateX(-50%);
    visibility: var(--vline-visibility);
}

.program-item {
    background-color: var(--secondary-color);
    border-radius: 12px;
    text-align: center;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.program-item div {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5rem;        /* fallback */
    max-height: 3rem;       /* fallback */
    text-indent: 3px;
    word-wrap: break-word;
}

.program-container div a {
    text-decoration: none;
    color: var(--text-color);
}


.program-wrapper {
    display: flex;
    justify-content: left;
}

.program-container-wrapper {
    overflow-x: scroll;
}

.rooms-container {
    margin-top: 3.5rem;
    margin-right: 0;
    padding-right: 3px;
    padding-top: 3px;
}

.room {
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
}

.time-item {
    font-size: 20px;
    line-height: 1.5rem;
    text-align: left;
    border-bottom: 1px solid var(--secondary-color);
}

@media screen and (max-width: 1300px) {
    .time-item {
        font-size: 18px;
    }
    .room {
        font-size: 18px;
    }
    .program-item {
        font-size: 18px;
    }
}

@media screen and (max-width: 450px) {
    .time-item {
        font-size: 17px;
    }
    .room {
        font-size: 17px;
    }
    .program-item {
        font-size: 16px;
    }
    .program-item div {
        text-indent: 0;
    }
}

@media screen and (max-width: 410px) {
    .time-item {
        font-size: 17px;
    }
    .room {
        font-size: 17px;
    }
    .program-item {
        font-size: 15px;
    }
}