.content {
    display: block;
}

.program-container {
    display: grid;
    grid-template-columns: repeat(390, 1fr);
    row-gap: 5px;
    position: relative;
    border: 1px solid var(--bg-color);
    padding: 2px;
    min-width: 800px;
    width: 76vw;
}

.program-container-wrapper {
    overflow-y: hidden; /* aby nebyly videt cary hodin */
}

:root, :root.dark {
    --vline-left: 0; /* tohle je potreba protoze z js se nedaji modifikovat pseudoelementy */
    --vline-visibility: hidden;
    --film-color: #a03765de;
    --workshop-color: #ffd740ee;
    --beseda-color: #ff7400ee;
    --flash-border-color: var(--text-color);
    --program-text-color: #121212;
    --time-vlines-color: #801b0e; /* barva carecek co jsou u kazdy hodiny */
}

:root.light {
    --time-vlines-color: var(--secondary-color);
}

.program-container::before { /* time vline */
    content: '';
    margin-top: 1.5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: var(--vline-left);
    width: 1px;
    border-left: 1px dashed var(--text-color);
    transform: translateX(-50%);
    visibility: var(--vline-visibility);
}

.program-item {
    background-color: var(--secondary-color);
    border-radius: 12px;
    text-align: center;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    font-size: 20px;
    color: var(--program-text-color);
    position: relative;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.program-item:hover {
    cursor: pointer;
}

.program-item div {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5rem;        /* fallback */
    max-height: 3rem;       /* fallback */
    text-indent: 3px;
    word-wrap: break-word;
    margin-right: 3px;
    max-width: 70%;
}

.program-item.vg {
    background-image: url(/static/img/vg.png);
    background-size: 30px;
    background-repeat: no-repeat;
}

.flashed {
    outline: 2px solid var(--flash-border-color);
    transition: all 0.2s;
}

.vertical div {
    writing-mode: vertical-rl;
    -webkit-line-clamp: 1;
    font-size: 80%;
}

.film {
    background-color: var(--film-color);
}
.workshop {
    background-color: var(--workshop-color);
}
.beseda {
    background-color: var(--beseda-color);
}

.program-wrapper {
    display: flex;
    justify-content: left;
}

.rooms-container {
    margin-top: 1.5rem; /* o 1.5rem vic nez margin-top u program-containeru */
    margin-right: 0;
    padding-right: 3px;
    padding-top: 3px;
}

.room {
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
}

.times-wrapper {
    display: contents;
}

.time-item {
    font-size: 20px;
    line-height: 1.5rem;
    text-align: left;
    border-bottom: 1px solid var(--bg-color);
    position: relative;
    padding-left: 2px;
}

.time-item:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 0;
    right: -2px;
    bottom: -100vh;
    top: 1.5rem;
    border-right: 1px dashed var(--time-vlines-color);
    z-index: -1;
}

.item-details {
    background-color: var(--secondary-color);
    opacity: .97;
    margin: 1px;
    padding: 5px;
    border: 1px solid var(--disabled-text-color);
    height: 0;
    width: 0;
    width: fit-content;
    border-radius: 12px;
    line-height: 1.3rem;
    position: fixed;
    z-index: 5;
    max-width: 210px;
    min-width: 150px;
    font-size: 17px;
    transition: opacity 0.1s ease-in;
}

.item-details .cm-item-name {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: .1rem;
}

.item-details a:has(> .cm-item-name ) {
    text-decoration: none
}

.item-details .cm-item-time {
    font-size: 18px;
    font-weight: bold;
}

.item-details a div {
    color: var(--text-color);
}

.item-details .favorite-star {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 20px;
}

.program-item-star { /* hvezdicka u kazdyho program itemu (viditelna jenom kdyz je v oblibenych) */
    position: absolute;
    bottom: 4px;
    right: 3px;
    font-size: 17px;
    display: none;
    color: var(--favorite-color);
}

.program-item-star.in-favorite {
    display: block;
}

.item-details .vg-text {
    font-size: .8rem;
    line-height: .8rem;
    max-width: 10rem;
    margin-right: 20px;
    margin-top: .3rem;
    font-style: italic;
}

.in-favorite {
    color: var(--favorite-color);
}

.day-heading {
    text-align: center;
    margin: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.alert-favorite {
    transition: opacity 2s ease-in;
    position: absolute;
    right: .2rem;
    margin-left: .3rem;
    bottom: 50px; /* vyska footbaru + 2px margin */
}

.program-nav {
    width: 100%;
    text-align: center;
}

.program-nav a {
    margin-top: 5px;
}

.program-day.program-nav {
    position:static;
    margin-top: .25rem;
    background-color: var(--bg-color);
    padding-bottom: 15px;
}

@media screen and (min-width: 800px) {
    .program-item:hover {
        border: 1px solid var(--bg-color);
        min-width: max-content;
        z-index: 5;
    }
    .program-item:hover div {
        font-size: 100%;
        -webkit-line-clamp: 2;
        writing-mode: initial;
    }
}

@media screen and (max-width: 1455px) { /* stejny jako breakpoint na zmenu topnavu v main.css */
    .program-container {
        width: 88vw;
        border: 1px solid var(--secondary-color);
    }
    .time-item {
        border-bottom: 1px solid var(--secondary-color);
    }
    .program-item {
        font-size: 18px;
    }
}

@media screen and (max-width: 1312px) { /* stejny jako breakpoint v main.css */
    .program-container {
        width: 95vw;
    }
}

@media screen and (max-width: 900px) { /* 100px more than .program-container min-width */
    .program-container-wrapper {
        overflow-x: scroll;
    }
}

@media screen and (max-width: 550px) { /* pri jaky width collapsuje dolni nav na dny */
    .day-heading {
        font-size: 1.5rem;
        margin-bottom: .6rem;
    }
} 

@media screen and (max-width: 450px) {
    .time-item {
        font-size: 17px;
    }
    .room {
        font-size: 17px;
    }
    .program-item div {
        text-indent: 0;
    }
}