.program-container {
    display: grid;
    grid-template-columns: repeat(360, 1fr);
    margin-top: 2rem;
    row-gap: 5px;
    position: relative;
    border: 1px solid var(--secondary-color)
}

:root {
    --vline-left: 0; /* tohle je potreba protoze z js se nejak modifikovat pseudoelementy */
    --vline-visibility: hidden;
}

.program-container::before {
    content: '';
    margin-top: 1.5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: var(--vline-left);
    width: 1px; /* Set the width of the line */
    border-left: 1px dashed var(--text-color); /* Set the color of the line */
    transform: translateX(-50%);
    visibility: var(--vline-visibility);
}

.program-item {
    background-color: var(--secondary-color);
    border-radius: 20px;
    text-align: center;
    height: 1.5rem;
    line-height: 1.5rem;
}

.program-wrapper {
    display: flex;
    justify-content: left;
}

.rooms-container {
    margin-top: 3.5rem;
    margin-right: 5px;
}

.room {
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
}

.time-item {
    font-size: 20px;
    line-height: 1.5rem;
}

/* 
 */