.program-container {
    display: grid;
    grid-template-columns: repeat(360, 1fr);
    margin-top: 2rem;
    row-gap: 5px;
    position: relative;
    border: 1px solid var(--secondary-color);
    padding: 1px;
    min-width: 750px;
}

:root {
    --vline-left: 0; /* tohle je potreba protoze z js se nedaji modifikovat pseudoelementy */
    --vline-visibility: hidden;
    --film-color: #a13866;
    --workshop-color: #ff7400;
    --beseda-color: #4011c2;
}

.program-container::before {
    content: '';
    margin-top: 1.5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: var(--vline-left);
    width: 1px;
    border-left: 1px dashed var(--text-color);
    transform: translateX(-50%);
    visibility: var(--vline-visibility);
}

.program-item {
    background-color: var(--secondary-color);
    border-radius: 12px;
    text-align: center;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    transition: all 1s;
    font-size: 17px;
    margin-right: 1px;
}

.program-item div {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5rem;        /* fallback */
    max-height: 3rem;       /* fallback */
    text-indent: 3px;
    word-wrap: break-word;
}

.film {
    background-color: var(--film-color);
}
.workshop {
    background-color: var(--workshop-color);
}
.beseda {
    background-color: var(--beseda-color);
}

.program-wrapper {
    display: flex;
    justify-content: left;
}

.rooms-container {
    margin-top: 3.5rem;
    margin-right: 0;
    padding-right: 3px;
    padding-top: 3px;
}

.room {
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
}

.time-item {
    font-size: 20px;
    line-height: 1.5rem;
    text-align: left;
    border-bottom: 1px solid var(--secondary-color);
}

.item-details {
    background-color: var(--secondary-color);
    margin: 1px;
    padding: 5px;
    border: 1px solid var(--text-color);
    height: 0;
    width: 0;
    width: fit-content;
    border-radius: 12px;
    line-height: 1.5rem;
    position: absolute;
    z-index: 5;
}

.item-details a div {
    color: var(--text-color);
}

@media screen and (min-width: 1000px) {
    .program-item:hover {
        border: 1px solid var(--bg-color);
        min-width: max-content;
        z-index: 5;
    }
}

@media screen and (max-width: 1300px) {
    .time-item {
        font-size: 17px;
    }
    .room {
        font-size: 17px;
    }
    .program-item {
        font-size: 17px;
    }
}
@media screen and (max-width: 750px) { /* same as .program-container min-width */
    .program-container-wrapper {
        overflow-x: scroll;
    }
}

@media screen and (max-width: 450px) {
    .program-item {
        font-size: 16px;
    }
    .program-item div {
        text-indent: 0;
    }
}

@media screen and (max-width: 410px) {
    .time-item {
        font-size: 16px;
    }
    .room {
        font-size: 16px;
    }
    .program-item {
        font-size: 15px;
    }
}