{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}
{% from "formutils.html" import render_field %}
<div class="container container-form">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend>Add user</legend>
            {{ render_field(form.username) }}
            {{ render_field(form.password) }}
            {{ render_field(form.admin) }}
            {{ render_field(form.perm_shop) }}
            {{ render_field(form.perm_program_edit) }}
            {{ render_field(form.perm_fotogalerie) }}
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn") }}
        </div>
    </form>
</div>

{% endblock %}