{% extends 'base.html' %}

{% block head %}
<script src="{{ url_for('static', filename='js/spotlight.bundle.js') }}"></script>
<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
<title>JSNO - Fotogalerie</title>
{% endblock%}

{% block body %}
<h1>{{ name }}</h1>
<div class="spotlight-group gallery">
    {% for img in images: %}
    <div class="gallery-item">
        <a class="spotlight" href="{{ img[0] }}">
            <img src="{{ img[1] }}">
        </a>
        {% if current_user.admin %}
        <a href="{{ url_for('fotogalerie.delete_photo', album_id=id, photo_name=img[0].split('/')[-1]) }}">
            <i class="fa fa-trash"></i>
        </a>
        {% endif %}
    </div>
    {% endfor %}
</div>

{% if current_user.admin %}
<form style="margin-top: 2rem;" action="/fotogalerie/{{ id }}"
      class="dropzone"
      id="dropzone">
      <div class="dz-message">Zde nahrajte soubory</div>
</form>
<a style="margin-top: .5rem;" class="btn" href="{{ url_for('fotogalerie.delete_album', album_id=id) }}" onclick="return confirm('Smazat album?')">Smazat album</a>
{% endif %}

<script>
    document.getElementById('fotogalerie').classList.add('active');
</script>

{% endblock%}