{% extends 'base.html' %}

{% block head %}
<title>JSNO - Fotogalerie</title>
{% endblock%}

{% block body %}
<h1>Alba:</h1>
<div class="albums">
    {% for item in albums %}
    <a class="album-link" href="/fotogalerie/{{ item[0] }}">{{ item[1] }}</a>
    {% endfor %}
</div>

{% if current_user.admin or current_user.perm_fotogalerie %}
<br>
<br>
<form style="margin-top: 2rem;" method="POST" enctype="multipart/form-data" action="/fotogalerie/new_album">
    <input type="text" name="album_name" placeholder="Název nového alba" required>
    <input class="btn" type="submit" value="Vytvořit nové album">
</form>
{% endif %}
<script>
    document.getElementById('fotogalerie').classList.add('active');
</script>

{% endblock%}