{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}
{% from "formutils.html" import render_field %}
<div class="container container-form">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend>Editovat besedu (id {{ beseda.id }})</legend>
            {{ render_field(form.name) }}
            {{ render_field(form.host) }}
            {{ render_field(form.time_from) }}
            {{ render_field(form.time_to) }}
            {{ render_field(form.day) }}
            {{ render_field(form.room) }}
            {{ render_field(form.vg) }}
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn") }}
        </div>
    </form>
</div>

{% endblock %}