{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/tables.css') }}">
{% endblock %}


{% block body %}
<h1>Editování programu</h1>
<a class="button-link" href="{{ url_for('edit_program.interactive', dayn='1') }}">Interaktivní editování</a>
<div class="program-all-container">
    <div class="program-all-filmy">
        <h2>Filmy</h2>
        <table>
            <tr>
                <th>id</th>
                <th>Film</th>
                <th>Den</th>
                <th>Čas</th>
                <th>Místnost</th>
                <th>Jazyk</th>
                <th>Filename</th>
                <th>Odkaz</th>
                <th>Pro vyšší gympl</th>
                <th>Doporučeno</th>
                <th>Program</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            {% for film in films %}
            <tr>
                <td>{{ film.id }}</td>
                <td>
                    <a href="/film/{{ film.id }}">{{ film["name"] }}</a>
                </td>
                <td>{{ film.day }}</td>
                <td>{{ film.time_from }} - {{ film.time_to }}</td>
                <td>{{ film.room }}</td>
                <td>{{ film.language }}</td>
                <td>{{ film.filename }}</td>
                <td>
                    <a href="{{ film.link }}">odkaz</a>
                </td>
                <td>{{ 'ano' if film.vg else 'ne' }}</td>
                <td>{{ 'ano' if film.recommended else 'ne' }}</td>
                <td>
                    <a href="{{ url_for('program_day', dayn=film.day) }}?f_{{film.id}}">program</a>
                </td>
                <td>
                    <a href="/edit_film/{{ film.id }}">edit</a>
                </td>
                <td>
                    <a href="/delete_film/{{ film.id }}" onclick="return confirm('Smazat film?')">delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <a href="{{ url_for('edit_program.add_film') }}">Přidat nový film</a>
    </div>

    <div class="program-all-besedy">
        <h2>Besedy</h2>
        <table>
            <tr>
                <th>id</th>
                <th>Beseda</th>
                <th>Den</th>
                <th>Čas</th>
                <th>Místnost</th>
                <th>Host</th>
                <th>Pro vyšší gympl</th>
                <th>Doporučeno</th>
                <th>Program</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            {% for beseda in besedy %}
            <tr>
                <td>{{ beseda.id }}</td>
                <td>
                    {{ beseda["name"] }}
                </td>
                <td>{{ beseda.day }}</td>
                <td>{{ beseda.time_from }} - {{ beseda.time_to }}</td>
                <td>{{ beseda.room }}</td>
                <td>
                    {% for host in hosts %}
                        {% if host.id == beseda.host_id %}
                            <a href="{{ url_for('hoste')}}#h_{{host.id}}">{{ host.name }}</a>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ 'ano' if beseda.vg else 'ne' }}</td>
                <td>{{ 'ano' if beseda.recommended else 'ne' }}</td>
                <td>
                    <a href="{{ url_for('program_day', dayn=beseda.day) }}?b_{{beseda.id}}">program</a>
                </td>
                <td>
                    <a href="/edit_beseda/{{ beseda.id }}">edit</a>
                </td>
                <td>
                    <a href="/delete_beseda/{{ beseda.id }}" onclick="return confirm('Smazat besedu?')">delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <a href="{{ url_for('edit_program.add_beseda') }}">Přidat novou besedu</a>
    </div>

    <div class="program-all-workshops">
        <h2>Workshopy</h2>
        <table>
            <tr>
                <th>id</th>
                <th>Workshop</th>
                <th>Den</th>
                <th>Čas</th>
                <th>Místnost</th>
                <th>Autor</th>
                <th>Popis</th>
                <th>Pro vyšší gympl</th>
                <th>Doporučeno</th>
                <th>Program</th>
                <th>Obrázek</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            {% for workshop in workshops %}
            <tr>
                <td>{{ workshop.id }}</td>
                <td>
                    <a href="{{url_for('workshopy')}}#w_{{workshop.id}}">{{ workshop.name }}</a>
                </td>
                <td>{{ workshop.day }}</td>
                <td>{{ workshop.time_from }} - {{ workshop.time_to }}</td>
                <td>{{ workshop.room }}</td>
                <td>{{ workshop.author }}</td>
                <td>{{ workshop.description|safe}}</td>
                <td>{{ 'ano' if workshop.vg else 'ne' }}</td>
                <td>{{ 'ano' if workshop.recommended else 'ne' }}</td>
                <td>
                    <a href="{{ url_for('program_day', dayn=workshop.day) }}?w_{{workshop.id}}">program</a>
                </td>
                <td>
                    <a href="/static/upload/{{ workshop.picture_filename }}">{{ workshop.picture_filename }}</a>
                </td>
                <td>
                    <a href="/edit_workshop/{{ workshop.id }}">edit</a>
                </td>
                <td>
                    <a href="/delete_workshop/{{ workshop.id }}" onclick="return confirm('Smazat workshop?')">delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <a href="{{ url_for('edit_program.add_workshop') }}">Přidat nový workshop</a>
    </div>

    <div class="program-all-hosts">
        <h2>Hosté</h2>
        <table>
            <tr>
                <th>id</th>
                <th>Host</th>
                <th>Popis</th>
                <th>Krátký popis</th>
                <th>Obrázek</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            {% for host in hosts %}
            <tr>
                <td>{{ host.id }}</td>
                <td>
                    <a href="{{url_for('hoste')}}#h_{{host.id}}">{{ host.name }}</a>
                </td>
                <td>{{ host.description }}</td>
                <td>{{ host.short_description }}</td>
                <td>
                    <a href="/static/upload/{{ host.picture_filename }}">{{ host.picture_filename }}</a>
                </td>
                <td>
                    <a href="/edit_host/{{ host.id }}">edit</a>
                </td>
                <td>
                    <a href="/delete_host/{{ host.id }}" onclick="return confirm('Smazat hosta?')">delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <a href="{{ url_for('edit_program.add_host') }}">Přidat nového hosta</a>
    </div>
</div>

<script>
    document.getElementById('program').classList.add('active');
</script>
{% endblock %}