{% extends 'base.html' %}

{% block head %}

{% endblock%}

{% block body %}
<h1>{{ name }}</h1>
<div class="gallery">
    {% for img in images: %}
    <img src="{{img}}">
    {% endfor %}
</div>

{% if current_user.is_authenticated %}
<form style="margin-top: 2rem;" method="POST" enctype="multipart/form-data" action="/fotogalerie/{{ id }}">
    <input type="file" name="file[]" multiple="">
    <input type="submit" value="Přidat">
</form>
<a style="margin-top: .5rem;" class="btn" href="{{ url_for('delete_album', album_id=id) }}" onclick="return confirm('Smazat album?')">Smazat album</a>
{% endif %}

<script>
    window.addEventListener("DOMContentLoaded", () => {
        var all = document.querySelectorAll(".gallery img");

        if (all.length > 0) {
            for (let img of all) {
                img.onclick = () => img.classList.toggle("full");
            }
        }
    });
</script>

<script>
    document.getElementById('fotogalerie').classList.add('active');
</script>

{% endblock%}