<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0", shrink-to-fit="no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <meta property="og:image" content="/favicon.ico"> <!-- tohle je pro OpenGraph -->
    <meta name="description" content="Filmový festival na Gymnáziu Elišky Krásnohorské pod záštitou jsns">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    {% block head %}
    {% endblock %}
    <title>JSNO</title>
</head>

<body>
    <div class="topnav" id="topnav" onclick="stopEventPropagation(event)">
        <a href="/" class="logo">Jeden svět na ohradní</a>
        <div id="topnav-links" class="topnav-left topnav-links">
            <a id="uvod" href="{{url_for('uvod')}}">Úvod</a>
            <div id="program" class="program-dropdown">
                <a style="cursor: pointer;" onclick="toggleProgramDropdown()">Program <i class="fa fa-caret-down"></i></a>
                <div class="program-dropdown-content">
                    <a href="{{ url_for('program_day', dayn='1') }}">Den 1</a>
                    <a href="{{ url_for('program_day', dayn='2') }}">Den 2</a>
                    <a href="{{ url_for('program_day', dayn='3') }}">Den 3</a>
                    <a href="{{ url_for('favorite') }}">Můj program</a>
                    <a href="{{ url_for('program_all') }}">Celý program</a>
                </div>
            </div>
            <a id="filmy" href="{{url_for('filmy')}}">Filmy</a>
            <a id="hoste" href="{{url_for('hoste')}}">Hosté</a>
            <a id="workshopy" href="{{url_for('workshopy')}}">Workshopy</a>
            <a id="historie" href="{{url_for('historie')}}">Historie</a>
            <a id="tym" href="{{url_for('tym')}}">Tým</a>
            <a id="fotogalerie" href="{{url_for('fotogalerie.index')}}">Fotogalerie</a>
            <a id="search" href="{{url_for('search')}}" title="Vyhledat">
                <i class="fa fa-search"></i>
            </a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="topnav_drop()">
            <i id="icon" class="fa fa-bars"></i>
        </a>
    </div>
    <div class="content">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }} <i onclick="setParentDisplayNone(this)" class="fa fa-xmark"></i>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block body %}
        {% endblock %}
    </div>
    <footer>
        <p>&copy; 2024 JSNO</p>
        <div class="theme-switch">
            <i class="fa fa-sun"></i>
            <label class="switch" onclick="changeTheme()">
                <input type="checkbox" class="theme-checkbox">
                <span class="slider round"></span>
            </label>
            <i class="fa fa-moon"></i>
        </div>
        {% if current_user.is_authenticated %}
        <p>User: {{ current_user.username }}</p>
        <div class="system-links">
            <a href="{{ url_for('logout') }}">Log out</a>
            {% if current_user.admin %}
            <a href="{{ url_for('upload_file') }}">Upload</a>
            {% endif %}
            {% if current_user.admin or current_user.perm_program_edit %}
            <a href="{{ url_for('edit_program.index') }}">Editovat program</a>
            {% endif %}
            {% if current_user.admin or current_user.perm_shop %}
            <a href="{{ url_for('shop.kavarna_cajovna') }}">Kavárna/čajovna</a>
            {% endif %}
        </div>
        {% endif %}
        <div class="social-icons">
            <a href="https://www.facebook.com/JedenSvetNaOhradni" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.youtube.com/@ffgekom/featured" target="_blank"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://www.instagram.com/ffgekom/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>