<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" , shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    {% block head %}
    {% endblock %}
</head>

<body>

    <div class="topnav" id="topnav">
        <a href="/" class="logo">Jeden svět na ohradní</a>
        <div id="topnav-links" class="topnav-left topnav-links">
            <a id="uvod" href="{{url_for('uvod')}}">Úvod</a>
            <a id="program" href="{{url_for('program')}}">Program</a>
            <a id="hoste" href="{{url_for('hoste')}}">Hosté</a>
            <a id="workshopy" href="{{url_for('workshopy')}}">Workshopy</a>
            <a id="historie" href="{{url_for('historie')}}">Historie</a>
            <a id="tym" href="{{url_for('tym')}}">Tým</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="topnav_drop()">
            <i id="icon" class="fa fa-bars"></i>
        </a>
    </div>
    <div class="content" onclick="hide_topnav()">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block body %}
        {% endblock %}
    </div>
    <footer>
        <p>&copy; 2023 JSNO</p>
        {% if current_user.is_authenticated %}
        <div class="system-links">
            <a href="{{ url_for('edit_program') }}">Editovat program</a>
            <a href="{{ url_for('logout') }}">Log out</a>
        </div>
        {% endif %}
        <div class="social-icons">
            <a href="#" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </footer>
    <script>
        var disableanim = false
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
        function topnav_drop() {
            var topnav = document.getElementById("topnav");
            var topnav_links = document.getElementById("topnav-links");
            var icon = document.getElementById("icon");
            icon.className = "fa fa-xmark"
            if (topnav.className === "topnav") {
                topnav.className += " responsive";
                disableanim = false;
                animateHeight(0, topnav_links.scrollHeight, topnav_links);
            } else {
                var icon = document.getElementById("icon");
                icon.className = "fa fa-bars"
                disableanim = true
                topnav_links.style.height = "auto";
                topnav.className = "topnav";
                sleep(320).then(() => {disableanim=false;});
            }
        }
        function hide_topnav() {
            var topnav = document.getElementById("topnav");
            var topnav_links = document.getElementById("topnav-links");
            var icon = document.getElementById("icon");
            icon.className = "fa fa-bars"
            disableanim = true
            topnav_links.style.height = "auto";
            topnav.className = "topnav";
            sleep(320).then(() => {disableanim=false;});
        }
        function animateHeight(start, target, element) {
            var duration = 300;
            var startTime = null;

            function step(timestamp) {
                if (!startTime) startTime = timestamp;
                var progress = timestamp - startTime;
                var percentage = Math.min(progress / duration, 1);

                element.style.height = start + (target - start) * percentage + 'px';

                if (progress < duration) {
                    if (disableanim) {
                        element.style.height = "auto";
                        return;
                    }
                    requestAnimationFrame(step);
                }
            }
            requestAnimationFrame(step);
        }
    </script>
</body>
</html>