{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/tables.css') }}">
{% endblock %}


{% block body %}
<h1>Editování programu</h1>
<div class="program-all-filmy">
    <h2>Filmy</h2>
    <table>
        <tr>
            <th>Film</th>
            <th>Den</th>
            <th>Čas</th>
            <th>Třída</th>
            <th>Link</th>
            <th>Edit</th>
        </tr>
        {% for film in films %}
        <tr>
            <td>
                <a href="/film/{{ film.id }}">{{ film["name"] }}</a>
            </td>
            <td>{{ film.day }}</td>
            <td>{{ film.time_from }} - {{ film.time_to }}</td>
            <td>{{ film.room }}</td>
            <td>
                <a href="{{ film.link }}">link</a>
            </td>
            <td>
                <a href="/edit_film/{{ film.id }}">edit</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('add_film') }}">Přidat nový film</a>
</div>
    
<script>
    document.getElementById('program').classList.add('active');
</script>
{% endblock %}