{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/program.css') }}">
{% endblock %}

{% block body %}
<h1 style="text-align: center;">Můj program</h1>
<div class="program-nav">
    <a class="button-link" href="{{ url_for('program_day', dayn=day) }}">Celý program</a>
    <a class="button-link" href="{{ url_for('clear_favorite') }}" onclick="return confirm('Opravdu chcete vymazat váš program?')">Vymazat</a>
</div>

<div class="program-wrapper">
    <div class="rooms-container">
        {% for room in rooms %}
        <div class="room">{{ room }}</div>
        {% endfor %}
    </div>
    <div class="program-container-wrapper" onclick="hideAllContextMenu()" onscroll="hideAllContextMenu()">
        <div class="program-container">
            <div class="times-wrapper">
                <div class="time-item" style="grid-column: 1/60">8:00</div>
                <div class="time-item" style="grid-column: 60/120">9:00</div>
                <div class="time-item" style="grid-column: 120/180">10:00</div>
                <div class="time-item" style="grid-column: 180/240">11:00</div>
                <div class="time-item" style="grid-column: 240/300">12:00</div>
                <div class="time-item" style="grid-column: 300/360">13:00</div>
            </div>
            
            {% for room in rooms %}
                {% for film in program[room]["films"] %}
                    <div id="f_{{film.id}}" class="program-item film" start-time="{{film.time_from}}" end-time="{{film.time_to}}" room="{{film.room}}" item-id="f_{{film.id}}" onclick="showContextMenu(event, this)">
                        <div>
                            {{ film.name }}
                        </div>
                    </div>
                {% endfor %}
                {% for beseda in program[room]["besedy"] %}
                    <div id="b_{{beseda.id}}" class="program-item beseda" start-time="{{beseda.time_from}}" end-time="{{beseda.time_to}}" room="{{beseda.room}}" item-id="b_{{beseda.id}}" onclick="showContextMenu(event, this)">
                        <div>
                            {{ beseda.name }}
                        </div>
                    </div>
                {% endfor %}
                {% for workshop in program[room]["workshops"] %}
                    <div id="w_{{workshop.id}}" class="program-item workshop" start-time="{{workshop.time_from}}" end-time="{{workshop.time_to}}" room="{{workshop.room}}" item-id="w_{{workshop.id}}" onclick="showContextMenu(event, this)">
                        <div>
                            {{ workshop.name }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>

{% for room in rooms %}
    {% for item in program[room]["films"] %}
    <div id="cm-f_{{item.id}}" class="item-details film-details" style="visibility: hidden;">
        <a href="/film/{{ item.id }}">
            <div>
                {{ item.name }}
            </div>
        </a>
        <div>film</div>
        <div>{{ item.time_from }} - {{ item.time_to }}</div>
        <div>{{ item.language }}</div>
        <div>
            <a href="{{ item.link }}">link</a>
        </div>
        <a href="javascript:toggleFavorite('{{'f_'+item.id|string}}')">
            <i id="star-f_{{item.id}}" class="fa fa-star favorite-star" aria-hidden="true"></i>
        </a>
    </div>
    {% endfor %}

    {% for item in program[room]["workshops"] %}
    <div id="cm-w_{{item.id}}" class="item-details workshop-details" style="visibility: hidden;">
        <a href="/workshopy#{{ item.id }}">
            <div>
                {{ item.name }}
            </div>
        </a>
        <div>workshop</div>
        <div>{{ item.time_from }} - {{ item.time_to }}</div>
        <a href="javascript:toggleFavorite('{{'w_'+item.id|string}}')">
            <i id="star-w_{{item.id}}" class="fa fa-star favorite-star" aria-hidden="true"></i>
        </a>
    </div>
    {% endfor %}

    {% for item in program[room]["besedy"] %}
    <div id="cm-b_{{item.id}}" class="item-details beseda-details" style="visibility: hidden;">
        <a href="/beseda/{{ item.id }}">
            <div>
                {{ item.name }}
            </div>
        </a>
        <div>beseda</div>
        <div>{{ item.time_from }} - {{ item.time_to }}</div>
        {% if item.host_id %}
            <a href="{{url_for('hoste')}}#h_{{item.host_id}}">
                <div>host</div>
            </a>
        {% endif %}
        <a href="javascript:toggleFavorite('{{'b_'+item.id|string}}')">
            <i id="star-b_{{item.id}}" class="fa fa-star favorite-star" aria-hidden="true"></i>
        </a>
    </div>
    {% endfor %}
{% endfor %}
<nav class="program-day program-nav">
    <a id="nav-day-1" class="button-link" href="{{ url_for('favorite_day', dayn=1) }}">Den 1</a>
    <a id="nav-day-2" class="button-link" href="{{ url_for('favorite_day', dayn=2) }}">Den 2</a>
    <a id="nav-day-3" class="button-link" href="{{ url_for('favorite_day', dayn=3) }}">Den 3</a>
</nav>
<script src="{{ url_for('static', filename='/js/program.js') }}"></script>
<script>
    document.getElementById('program').classList.add('active');
    var day = "{{day}}";
    var day_nav = document.getElementById('nav-day-'+day);
    day_nav.classList.add('disabled');
</script>
{% endblock %}