{% extends 'base.html' %}

{% block head %}
<title>JSNO - Hosté</title>
{% endblock %}


{% block body %}
<h1>Filmy</h1>
<div class="grid-items-container">
    {% for item in items %}
    <div id="w_{{item.id}}" class="item" onclick="showDescription(this)">
        <img src="/static/upload/{{ item.picture_filename }}">
        <div class="item-details">
            <h2>{{ item.name }}</h2>
        </div>
        <div class="item-description hidden" onclick="hideDescription(event, this)">
            <p>{{ item.description|safe }}</p>
            <nav>
                <a class="button-link" href="{{url_for('program_day', dayn=item.day)}}?f_{{item.id}}">Program</a>
            </nav>
        </div>
    </div>
    {% endfor %}
</div>

<script src="{{ url_for('static', filename='js/program_items.js') }}"></script>

<script>
    document.getElementById('filmy').classList.add('active');
</script>
{% endblock %}