{% extends 'base.html' %}

{% block head %}
{% endblock%}

{% block body %}
<br>
<h1>Fotogalerie</h1>
<h2>Alba:</h2>
{% for item in albums %}
    <a href="/fotogalerie/{{ item[0] }}">{{ item[1] }}</a>
{% endfor %}
{% if current_user.is_authenticated %}
<br>
<br>
<form method="POST" enctype="multipart/form-data" action="/fotogalerie/new_album">
    <input type="text" name="album_name">
    <input type="submit" value="Nové album">
</form>
{% endif %}
<script>
    document.getElementById('fotogalerie').classList.add('active');
</script>
{% endblock%}