{% extends 'base.html' %}

{% block head %}
<title>JSNO - Historie</title>
{% endblock %}


{% block body %}
<h1>Historie</h1>

<div class="history-year-box">
    <h2>2023 - Včera, dnes... a zítra?</h2>
    <p>Ke konci roku 2023 vznikl festival navazující na již úspěšně znovuobnovenou tradici z předcházejícího roku. Tématem byla otázka blízké budoucnosti, a to obzvlášt z pohledu environmentálního a technologického pokroku dnešní doby. 
        <br><br>
        Tým, tvořený studentkami z tehdejší 3.A, Jolanou Sofií Půlpánovou, která vedla sekci hostů, Lucií Ježkovou starající se o filmový program festivalu, Eliškou Sokolovou, která zařizovala finance a sponzory, Emmou Zapletalovou vedoucí tým výzdoby a Annou Švecovou, která měla na starosti celkový design, propagaci a vizuál festivalu společně s přehledem nad celou akcí, se spojil s bývalým IT duem, Antonínem Fabelem a Matthewem Muzikářem, a společně tak tvořili jádro festivalu JSNO23. 
        <br><br>
        Navštívil nás Vladimír Kořen, Greenpeace, nebo Věra Jourová…promítli jsme snímky jako je Inscendios, David Attenborough: život na naší planetě, nebo třeba Vesmírná Odyssea (na které dokonce vydržel i jeden odvážný student až do pozdních odpoledních hodin). 
        <br><br>
        Festival doprovázel maskot, říkali jsme mu ,,efefák”. Byl všude. Merch, úvodní spotík, fun fakty na záchodech, háčkovaná verze v jeho životní velikosti. Proběhly workshopy, například lekce programování, VR, háčkování, tvorba vlastních tašek, Michle 2050. Vznikl školní sekáč, jako motivace pro studenty nakupovat více z druhé ruky, který dal nový život spoustě hezkých kousků. 
        <br><br>
        Na závěr našeho festivalu, jsme vyhnali všechny účastnící se studenty ven na hřiště, kde proběhlo velkolepé finále, v podobě mezitřídní vědomostní soutěže. Hrálo se o hodně - AI vygenerovaný obraz profesorského sboru. Vítězem se stala septima a tím byl náš ročník oficiálně uzavřen. Festivalu zdar!       
        <br><br> Anička Švecová za tým JSNO23
       </p>
    <img alt="historie-2023" src="{{ url_for('static', filename='img/historie/HISTORIE_2023.jpg') }}">
    <img alt="historie-2023-efefak" class="vertical" src="{{ url_for('static', filename='img/historie/HISTORIE_2023_efefak.svg') }}">
</div>
<div class="history-year-box">
    <h2>2022 - (Ne)spravedlnost</h2>
    <p>Po covidové pandemii jsme chtěli obnovit tradici filmového festivalu ve velkém.
        Zvolili jsme tedy téma blízké všem - diskriminaci.
        Každý z nás se v nějaké formě s diskriminací potýká, ať už jako diskriminovaný,
        nebo někdo, kdo diskriminuje. Jelikož existuje spousta odsuzovaných skupin, rozdělili jsme téma do tří podtémat:
        diskriminaci na základě genderu a orientace, na základě rasy či náboženství a na základě sociálního statusu nebo
        postižení.
        Součástí festivalu byla také simulace, při které sami studenti diskriminaci zažili podle barevných pásků, které
        jim byly
        rozdány. Různé barvy měly rozdílná privilegia. Cílem celého festivalu bylo ve studentech vzbudit empatii a
        nechat je poznat,
        jak náročné je žít ve světě, který vám hází klacky pod nohy.</p>
    <img alt="historie-2022" src="{{ url_for('static', filename='img/historie/HISTORIE_2022.jpg') }}">
</div>
<div class="history-year-box">
    <h2>2019 - Fake news, mediální a davová manipulace</h2>
    <p>V dnešní době, kdy jsme všichni pohlceni sociálními sítěmi, zpravodajskými stránkami a technologií, je stále
        snazší a snazší manipulovat s běžným uživatelem internetu. Každý si může kamkoliv napsat cokoliv bez větší
        námahy a kontroly, a tím pádem se všichni stáváme oběťmi těchto dezinformací. V našem divákovi bychom chtěli
        vyvolat kritické myšlení a logický pohled na věci kolem něho. Chceme, aby přemýšlel nad věcmi a informacemi,
        které mu někdo předkládá a aby se sebou nenechal lehce manipulovat.</p>
    <img alt="historie-2019" src="{{ url_for('static', filename='img/historie/HISTORIE_2019.jpg') }}">
</div>
<div class="history-year-box">
    <h2>2018 - Nad rámec - aktivismu(s)</h2>
    <p>Téma aktivismu jsme vybrali především proto, že jsme chtěli vyvrátit řadu předsudků, kterých si všímáme u lidí z
        našeho okolí - snažili jsme se účastníkům festivalu vyvrátit názor, že aktivismus je nutně něco ilegálního,
        náročného či nedosažitelného, a probudit v nich chuť a energii přejít od nápadu k činům. Školu jsme podle pater
        rozdělili do tří podtématických okruhů (sociální/politický aktivismus, ekologický aktivismus a umělecký
        aktivismus) a program jsme tak koncipovali ve více přehledném systému sekcí. Nechybělo samo sebou ani patro s
        kavárnou a letos obzvlášť vydařenou čajovnou. Mezi hosty, kteří přijali pozvání, patří například Czeslaw Walek -
        právník a aktivista, který od roku 2011 organizuje průvod Prague Pride, Mikuláš Minář - zakladatel spolku Milion
        chvilek pro demokracii, David Murphy - ředitel českého Greenpeace a umělkyně ToyBox. Úzký tým se skládal z
        prezidentky festivalu Elišky Gemrotové, jejího zástupce a finančního odborníka Matěje Skuhravého, výtvarného a
        grafického mága Anny Holínské, filmového teoretika i praktika Šimona Krejči, kavarénské povalečky Nátálie
        Pavičevičové a IT záchrany Jakuba Chalupy. Za celý špičkový tým doufáme, že se jednalo o nabité tři dny a že i
        nadále měníte svět!</p>
    <img alt="historie-2018" src="{{ url_for('static', filename='img/historie/HISTORIE_2018.png') }}">
</div>
<div class="history-year-box">
    <h2>2017 - konzum - pod obalem</h2>
    <p>Ruda Mašata z oktávy a Václav Paděra, Jakub Vařeka ze 4.A připravili festival na téma Konzum s názvem POD OBALEM.
        Z hostů byli pozváni a přišli mimo jiné dokumentarista Vít Janeček, Saša Uhlová, Jakub Kohák, Karel Kovář známý
        jako Kovy.</p>
    <img alt="historie-2017" src="{{ url_for('static', filename='img/historie/HISTORIE_2017.jpg') }}">
</div>
<div class="history-year-box">
    <h2>2016 - Totalita</h2>
    <p>Co přinesl již 13. ročník Jednoho světa na Ohradní? Celé tři dny se nesly v duchu nastolení totalitního režimu.
        Zajímavou inovací byla interaktivita celého festivalu. Kromě přísné kontroly docházky byli studenti nuceni
        dodržovat vyhlášky hlásající zásady gekomismu, které visely po celé škole, a ctít prezidenta festivalu Jakuba
        Reinsteina a další členy jeho týmu. Za svou oddanost režimu mohli sbírat razítka a vyhrát tablet. Filmy se
        samozřejmě týkaly tématu totality a nesměli chybět ani zajímaví hosté, například sám kníže Karel Schwanzenberg,
        Martin Dejdar, Radkin Honzák, Jaromír Štětina, Ondřej Kundra, Zdeněk Hazdra, Jiří Lukšíček čí Erika Bezdíčková.
        Poslední den festivalu nastal pád totality a během zakončení na hřišti došlo k šokujícímu odhalení - soutěž o
        tablet byla podvod. A tak se studenti GEKOMu nechali strhnout a ošálit totalitou.</p>
    <img alt="historie-2016" src="{{ url_for('static', filename='img/historie/HISTORIE_2016.jpg') }}">
</div>
<div class="history-year-box">
    <h2>2015 - Víra</h2>
    <p>Tématem dvanáctého ročníku festivalu byla víra. „Víra jako naděje, že se ráno probudím ze sna. Víra v to, že
        dokážu něco změnit. Víra v jedinečnost a rovnost lidí. Víra v to, že nejdůležitějším je pro nás svoboda. Víra v
        rodinu, přátele, život, systém nebo Boha…” Tým pod vedením Terezy Nikoličové připravil krom pestré nabídky filmů
        a hostů také netradiční zahájení - promítání filmu Heleny Třeštíkové “Mallory” a následnou besedu přímo s hlavní
        představitelkou v kině Světozor. Na besedu dále dorazili: tanečnice Doris Martinez, bývalí studenti naší školy
        David Kožušník a Šárka Horáková, milovník kávy Roberto Trevisian, tatér Lukáš Musil, fotograf Robert Vano, kněz
        Jaroslav Lorman či novinář Jindřich Šídlo. Za zmínku stojí i monumentální výzdoba školy, kterou tvořilo několik
        stovek bublin na téma “věřím v… ” A co zbývá doplnit? Snad jen motto tohoto festivalu: Dokud věřím, žiju! I my
        věříme. Že se studentům líbil a že si z něj i něco odnesli…</p>
    <img alt="historie-2015" src="{{ url_for('static', filename='img/historie/HISTORIE_2015.jpg') }}">
</div>
<div class="history-year-box">
    <h2>2014 - Hédonismus</h2>
    <p>Tento ročník byl již na 1. pohled jiný a zajímavý. Úplně poprvé v historii se do čela postavila tzv. tetrarchie.
        Čtyři hlavy si jako téma festivalu zvolily hédonismus, aneb slast (ne)smyslem života. Složité a těžko
        uchopitelné téma však dalo dostatek prostoru pro výběr dobrých dokumentárních i hraných filmů (např. divácky
        velmi oceňovaný film Rivalové) a workshopů (snad nikdo nelitoval návštěvy masáží). Další zvláštností tohoto
        ročníku byla místnost Doupě hédonismu. Zde se promítalo to nejnáročnější, co mohl tento festival nabídnout.
        Celou atmosféru podtrhoval fakt, že se zde nesedělo normálně na židlích, ale na sedacích pytlích, potažmo
        polehávalo na karimatkách. K festivalu Jeden svět na Ohradní patří neodmyslitelně hosté a ani v tomto aspektu
        tento ročník nezahálel. Gymnázium E. Krásnohorské tak svou návštěvou poctil například novinář a šéfredaktor
        týdeníku Respekt, Erik Tabery, ekonom Tomáš Sedláček či šéfredaktor bulvárního webu eXtra Pavel Novotný.
        Zakončení se stejně jako zahájení konalo na školním hřišti. Skromně. Ale přesně tak, aby nešlo zapomenout.</p>
    <img alt="historie-2014" src="{{ url_for('static', filename='img/historie/HISTORIE_2014.jpg') }}">
</div>
<div class="history-year-box">
    <h2>2013 - Gender</h2>
    <p>Desátý ročník festivalu Jeden svět na Ohradní si jako téma vybral problematiku genderu. Tým vedený Tomášem Holkem
        proto přichystal pestrý výběr filmů, mezi nimiž ožehavé téma našlo prostor nejen v dokumentárních, ale i
        uměleckých a komerčních filmech (kupříkladu festival byl zahájen snímkem Persepolis). Stejně rozmanité bylo i
        zastoupení hostů. Gymnázium Elišky Krásnohorské pohostilo ředitelku Divadla na Fidlovačce Elišku Balzerovou,
        jednoho ze zakládajících členů skupiny Stohoven Romana Týce, známého herce a moderátora Michala Suchánka i s
        jeho neopominutelným kolegou Richardem Genzerem, nebo známého geografa a politika Tomáše Hudečka. Podporu
        tentokrát našel festival u Pražské plynárenské společnosti, u kavárny V podpalubí a u společnosti Coca-cola.
        Díky nim mohl být jubilejní ročník zakončen se vší slávou v kulturním centru Novodvorská.</p>
    <img class="vertical" alt="historie-2013" src="{{ url_for('static', filename='img/historie/HISTORIE_2013.jpg') }}">
</div>
<div class="history-year-box">
    <h2>2012 - Jaký bude svět za padesát let</h2>
    <p>Ředitelkou festivalu 2012 se stala Yara Abu Aataya. Festival podpořili: televize Metropol, Deník Metro, Tučňák,
        Kavárna V Podpalubí, Coca Cola, Rockpoint, Prague Airport, McDonald a Dekos. Hlavním maskotem festivalu se stal
        Gekon, který nyní sídlí v biologii. Zahajovacím filmem pro vyšší gymnázium se stal dokument Olgy Špátové
        Největší přání, pro nižší gymnázium Nedotknutelní. Hlavním tématem bylo „Jaký bude svět za padesát let“. Toto
        téma bylo obsaženo ve spotu, v krátkometrážním filmu studenty vytvořeném, výzdobě a několika filmech. Nechyběla
        kavárna, čajovna a workshopy (graffiti, módní návrhářství a kuchyňská dílna) U Gekona. Večerní promítání bylo o
        lobotomii (Prokletý ostrov). Festival nabízel hrané i dokumentární filmy, které se dělily do spousta skupin,
        např. maturita, kinematografie, rasismus, blízký východ, nemoci, společnost, válka aj. Některé filmy byly přímo
        spojené s debatami. Řešili se různé problematiky: romská, Arabské jaro, Palestina výživa, politika, umění,
        postižení, zločiny, budoucnost apod. Hosti: režisérka O. Špátová, architekt D. Vávra (opět), režisér J. Vejdělek
        a producent T. Hoffman, politik V. Špidla, ředitel Útvaru pro odhalování organizovaného zločinu R. Šlachta,
        vedoucí odboru Vzdělávání České kosmické kanceláře M. Halousek, spisovatelka I. Dousková, módní návrhář Pavel
        Berky, moderátor Tomáš Bystrý, ředitel organizace Insaan S. Shanaah, koordinátorka Barmských projektů L. Kundra,
        paralympik D. Drahonínský a další. Umělci Vladimír 518 a Krištof Kintera navštívili naši školu po festivalu.
        Během festivalu také probíhaly dvě soutěže (kostýmová a razítková), které měli podpořit účast studentů na
        festivalu. Na zakončení festivalu, které se konalo v kulturním centru Novodvorská, se vyhlásili ceny (dary od
        sponzorů) soutěží, vystoupil divadelní soubor školy a smyčcový kvarteto zahrálo filmové melodie. Informace mohli
        studenti sledovat jak na facebookových (novinka), tak i na webových stránkách.</p>
    <img class="vertical" alt="historie-2012" src="{{ url_for('static', filename='img/historie/HISTORIE_2012.jpg') }}">
</div>
<div class="history-year-box">
    <h2>2011 - Problémy našeho světa</h2>
    <p>Osmý ročník festivalu pod vedením Jiřího Kafky, jehož téma bylo „Problémy našeho světa“, byl velmi poznamenán
        smrtí Václava Havla den před jeho zahájením. Festival proto nezačal jako obvykle zahájením a posléze spotem, ve
        kterém měl hlavní roli pan ředitel, ale minutou ticha k uctění jeho památky. Dále pak došlo i ke změně hostů a
        navíc byl promítán jeho poslední film Odcházení. Zahajovacím filmem byl estonský snímek Klass (Zkažená mládež),
        který se věnuje problematice šikany na střední škole. Výzdoba a filmy se roztřídlily do čtyř okruhů podle témata
        letošního festivalu, problémy našeho světa, tedy války, rasismu, závislosti a nepřízni živlů. Každý se tak v
        rámci školní budovy mohl vyskytnout ve válečné zóně, být u erupce sopky nebo se podívat do mešity. Samozřejmostí
        byla i tento rok výborná kavárna a také čajovna. Mezi hosty které jsme měli čest přivítat, byli například: herec
        a zpěvák Aleš Háma, ředitel České televize Petr Dvořák, manažerka roku 2010 Senta Čermáková, ředitel nadace ADRA
        Jan Bárta, komentátor Robert Záruba, teolog Tomáš Halík a další. Festival byl zakončen skeči studentů kvinty a
        zúčastnil se ho mimo jiné i ředitel Člověka v tísni Karel Strachota. Později zprávu o úspěšnosti festivalu
        otiskly Lidové noviny.</p>
    <img class="vertical" alt="historie-2011" src="{{ url_for('static', filename='img/historie/HISTORIE_2011.jpg') }}">
</div>
<div class="history-year-box">
    <h2>2010 - Jeden svět na Ohradní, aneb svět čtyřikrát jinak</h2>
    <p>Filmem Květ pouště byl zahájen 7. ročník festivalu Jeden svět na Ohradní, jehož prezidenty byli tentokrát dva
        studenti, David Kožušník a Šárka Horáková. Téma festivalu bylo Jeden svět na Ohradní, aneb svět čtyřikrát jinak,
        čemuž byla přizpůsobena výzdoba školy. Škola byla rozdělena do 4 kontinentů a každé patro zobrazovalo jeden
        kontinent - Ameriku, Evropu, Afriku a Asii. V patře Afrika vyrostla například velká pyramida a na zemi byly
        vyobrazeny stopy afrických zvířat. Amerika se chlubila dlouhým červeným kobercem, podél kterého byly vyobrazeny
        hvězdy se jmény a otisky rukou jednotlivých profesorů. V Asii si mohli studenti prohlédnout Geishu a ochutnat
        sushi a v Evropě čekala diváky velká vědomostní soutěž s evropskými státy. Festival byl opět doprovázen
        odpočinkovými místnostmi - kavárna, čajovna, sushi-bar a dílna, kde si mohli studenti zakoupit za minimální ceny
        občerstvení, mezi kterým nechybělo ani kafe ze Starbucksu. Výtěžek 13 000,- Kč, který se vybral pomocí těchto
        doprovodných akcí se poslal na stavbu školy v Etiopii. Nedílnou součástí festivalu byly besedy se známými hosty.
        Letos naši školu navštívili cestovatel Josef Miškovský, moderátor Reynolds Koranteng, válečný veterán Jan Horal,
        moderátorka Pavlína Kvapilová, pamětnice vypálení Lidic paní Kalibová, spisovatel Michal Viewegh a konzultant v
        oboru komunikace a etikety Ladislav Špaček. Filmy a dokumenty nám letos poskytla organizace Člověk v tísni,
        Anifest a Ekofilm. Festival byl zakončen v divadle na Novodvorské stand-up vystoupením komika Daniela Čecha.</p>
    <img alt="historie-2010" src="{{ url_for('static', filename='img/historie/HISTORIE_2010.jpg') }}">
</div>
<div class="history-year-box">
    <h2>2009 - 20 let od revoluce</h2>
    <p>Prezidentkou šestého ročníku festivalu byla Natalie Malinová. Ve škole mohli žáci opět navštívit čajovnu, kavárnu
        s Fair Trade výrobky a odpočinkovou origami dílnu. Tým měl přes 40 členů, vytvořil se nový festivalový spot a
        bylo vybráno logo festivalu. Celá škola byla vyzdobená tak, aby přiblížila náladu listopadové revoluce 1989.
        Úvodními filmy se staly Reflexe (o událostech 17.11.1989) a Barmský VJ upozorňující na potlačovaná lidská práva
        v Barmě. Tým spolupracoval s organizací Člověk v tísni (projekt Jeden svět na školách a Kdo jiný), festivaly -
        Anifestem, Ekofilmem a nově i s Normálním festivalem. Mimo to byly promítány i komerční filmy (My děti ze
        stanice ZOO, Láska z pasáže, Občan Havel a Bílý oleandr). Pro maturující studenty byla otevřena místnost s
        názvem Maturita, kde bylo možné shlédnout zfilmovaná díla slavných spisovatelů. Uskutečnila se i večerní
        projekce nového filmu - Hanební pancharti a byly vytvořeny nové webové stránky. Festival byl zakončen divadelním
        představením na motivy japonských her. O festivalu byl napsán článek v deníku Metru a zpráva o něm byla
        uveřejněná na ČTK. Hosté festivalu: moderátor Václav Moravec, herec Lukáš Vaculík, 1. československá hlasatelka
        Kamila Moučková, bývalý politický vězeň a spisovatel František Šedivý, cestovatel Jaroslav Vančata, mladý umělec
        Chemis známý v oblasti graffiti, scenárista slavného snímku Kolja - Pavel Taussig, Sylvie Strettiová z Linky
        bezpečí a spisovatel Arnošt Lustig (pár dnů před festivalem byl bohužel hospitalizován a nemohl přijít).</p>
    <img class="vertical" alt="historie-2009" src="{{ url_for('static', filename='img/historie/HISTORIE_2009.jpg') }}">
</div>
<div class="history-year-box">
    <h2>2008</h2>
    <p>Novinkou pátého ročníku vedeného Janou Pleskotovou bylo začlenění snímků z filmového festivalu o hudbě MOFFOM.
        Vedle Fair-Trade kavárny a obchůdku vznikla v prostorách školy i čajovna. Významnou akcí rovněž bylo
        profesionální ztvárnění festivalového spotu, v němž účinkovali jak studenti, tak profesoři gymnázia.</p>
    <img class="vertical" alt="historie-2008" src="{{ url_for('static', filename='img/historie/HISTORIE_2008.jpg') }}">
</div>
<div class="history-year-box">
    <h2>2007</h2>
    <p>Nad festivalem, jehož ředitelem byl Jan Bendl, převzal záštitu ministr školství, mládeže a tělovýchovy Ondřej
        Liška. Festival se objevuje v médiích (Rádio Česko, MF Dnes, Regina, Literární noviny, Radiožurnál, E15,
        Metropolitní expres, Tučňák atd.), byly vytvořeny webové stránky s interaktivním programem a anotacemi na
        všechny promítané filmy a besedy. V rámci festivalu byla v divadle Dobeška uskutečněna projekce tehdy
        rozpracovaného filmu U mě dobrý, kdy studenti měli možnost s tvůrci filmu diskutovat o jeho dokončení. Jedna
        třída gymnázia se proměnila v obchůdek s Fair-Trade výrobky a s tím byla spojená i výstava fotografií z Bolívie,
        kde se studenti měli možnost seznámit s tím, jak výrobky, které kupují, vznikaly. Hosté festivalu: ministr
        školství Ondřej Liška, fotograf Jan Saudek, poslankyně Kateřina Jacques, dokumentarista Martin Mareček, režisér
        Jan Hřebejk a tvůrci filmu U mě dobrý, herec a absolvent gymnázia Tomáš Vorel ml., scenáristka Petra Ušelová a
        další.</p>
    <img class="vertical" alt="historie-2007" src="{{ url_for('static', filename='img/historie/HISTORIE_2007.jpg') }}">
</div>
<div class="history-year-box">
    <h2>2006</h2>
    <p>Ředitelkou festivalu Gábina Věchetová, hlavními inovacemi: loutková dílna paní Vorlové a večerní akce v klubu Jam
        Café, kde vystoupila romská skupina Mario Bihari Band. Některé projekce se rozšířily do kina Aero nebo Světozor.
        Hosté: dokumentaristka Olga Sommerová, Jaroslav Valůch z Člověka v tísni, dokumentarista Karel Paul.</p>
    <img alt="historie-2006" src="{{ url_for('static', filename='img/historie/HISTORIE_2006.jpg') }}">
</div>
<div class="history-year-box">
    <h2>2005</h2>
    <p>Vzhledem k tomu, že se první ročník setkal s úspěchem jak u studentů, tak u členů profesorského sboru, bylo
        snahou uspořádat ještě lepší pokračování. Ředitelem festivalu byl jmenován Lukáš Fršhlich. Hlavním pilířem
        festivalu byly stále dokumentární filmy s lidsko-právní a environmentální tématikou, nově byly do programu
        zařazeny večerníčky ČT, filmy z festivalu Anifest a FAMUfest. Pozvání k besedě přijali herci divadla Sklep
        (David Vávra, Jiří Burda), Zdeněk a Jan Svěrák, dokumentarista Steve Lichtag, socioložka Jiřina Šiklová, ...</p>
    <img alt="historie-2005" src="{{ url_for('static', filename='img/historie/HISTORIE_2005.jpg') }}">
</div>
<div class="history-year-box">
    <h2>2004</h2>
    <p>Od roku 2003 na Gymnáziu Elišky Krásnohorské (tehdy ještě Ohradní) začal fungovat filmový klub Jeden svět. Naše
        škola byla vůbec první, kde se tento projekt společnosti Člověk v tísni realizoval. Studenti tak měli možnost
        každý měsíc ve škole shlédnout dokumentární film a popovídat si o dané problematice s jeho tvůrcem či
        odborníkem. Účast byla vždy dobrovolná, a tak bohužel mnoho studentů bylo o tyto velice zajímavé akce ochuzeno.
        Tehdejšího organizátora filmového klubu, studenta Jakuba Oliveria, napadlo uspořádat festival dokumentárních
        filmů, který by v rámci výuky zpřístupnil filmy všem studentům. To se mu společně s týmem zhruba dvaceti
        studentů, kteří strávili přípravami více než měsíc, v roce 2004 podařilo. A tak v předvánočním čase místo výuky
        všichni studenti chodili povinně od osmi hodin ráno do dvou hodin odpoledne na projekce filmů. Byl vytvořen
        program, kde si každý mohl vybrat, na který film či besedu by rád šel. Promítaly se dokumenty Člověka v tísni,
        dále filmy s environmentální tematikou a zpestřením festivalu byly komerční filmy, např. Ženy pro měny. Na každý
        den byli pozváni nejméně tři hosté, program tedy byl velice pestrý a povětšinou měl festival pozitivní ohlasy.
        Docházka byla řešená formou akreditací. Festival měl vlastní logo a znělku, kterou vytvořili sami studenti, a v
        rámci festivalu bylo taktéž vyhlášeno několik soutěží. Uspořádáním dalšího ročníku se z tohoto jedinečného
        festivalu pomalu začala stávat tradice. Hosty prvního ročníku byli: herec Ladislav Smoljak, dokumentaristka
        Helena Třeštíková, filmoví kritici pan Baldýnský a pan Fuka, režisér Marek Najbrt, ředitel projektu Jeden svět
        na školách Karel Strachota, který festival slavnostně zahájil, a další.</p>
    <img alt="historie-2004" src="{{ url_for('static', filename='img/historie/HISTORIE_2004.jpg') }}">
</div>

<script>
    document.getElementById('historie').classList.add('active');
</script>
{% endblock %}