{% extends 'base.html' %}

{% block head %}
<title>JSNO - Hosté</title>
{% endblock %}


{% block body %}
<h1>Hosté</h1>
<div class="grid-items-container">
    {% for item in items %}
    <div id="w_{{item.id}}" class="item" onclick="showDescription(this)">
        <img src="/static/upload/program_items/{{ item.picture_filename }}">
        <div class="item-details">
            <h2>{{ item.name }}</h2>
            <h3>
                {% if item.short_description and item.short_description != " "%}
                <i>{{ item.short_description }}</i>
                <br>
                {% endif %}
                {% if item.besedy %}
                    Den {{ item.besedy[0].day }}
                    <br>
                    {{ item.besedy[0].time_from }} - {{ item.besedy[0].time_to }}
                    <br>
                    {{ item.besedy[0].room }}
                {% endif %}
            </h3>
        </div>
        <div class="item-description hidden" onclick="hideDescription(event, this)">
            <div><p>{{ item.description|safe }}</p></div>
            {% if item.besedy %}
                <nav>
                    <a class="button-link" href="{{url_for('program_day', dayn=item.besedy[0].day)}}?b_{{item.besedy[0].id}}">Program</a>
                </nav>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<script src="{{ url_for('static', filename='js/program_items.js') }}"></script>

<script>
    document.getElementById('hoste').classList.add('active');
</script>
{% endblock %}