{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/program.css') }}">
<title>JSNO - Den {{ day }}</title>
{% endblock %}

{% block body %}

{% if current_user.is_authenticated %} <!-- pokud je user authenticated, ukaz moznost zmeneni barvy filmu besed a workshopu -->
<input type="checkbox" onchange="toggleColorBoxes()">
<div style="position: absolute;top: 70px;" id="color-boxes">
    <input id="color-film-input" name="color-film">
    <label for="color-film">fimy</label>
    <br>
    <input id="color-beseda-input" name="color-beseda">
    <label for="color-beseda">besedy</label>
    <br>
    <input id="color-workshop-input" name="color-workshop">
    <label for="color-workshop">workshopy</label>
</div>
<script>
    document.getElementById("color-film-input").value = window.getComputedStyle(document.querySelector(":root")).getPropertyValue("--film-color")
    document.getElementById("color-beseda-input").value = window.getComputedStyle(document.querySelector(":root")).getPropertyValue("--beseda-color")
    document.getElementById("color-workshop-input").value = window.getComputedStyle(document.querySelector(":root")).getPropertyValue("--workshop-color")

    document.getElementById("color-film-input").addEventListener("change", event => {
        let newColor = event.target.value;
        document.querySelector(":root").style.setProperty("--film-color", newColor)
    })
    document.getElementById("color-beseda-input").addEventListener("change", event => {
        let newColor = event.target.value;
        document.querySelector(":root").style.setProperty("--beseda-color", newColor)
    })
    document.getElementById("color-workshop-input").addEventListener("change", event => {
        let newColor = event.target.value;
        document.querySelector(":root").style.setProperty("--workshop-color", newColor)
    })

    function toggleColorBoxes() {
        document.getElementById("color-boxes").classList.toggle("hidden")
    }
</script>
{% endif %}

<div class="day-heading">Den {{ day }}</div>
<div class="program-wrapper">
    <div class="rooms-container">
        {% for room in rooms %}
        <div class="room">{{ room }}</div>
        {% endfor %}
    </div>
    <div class="program-container-wrapper" onscroll="hideAllContextMenu(); hide_topnav()">
        <div class="program-container">
            <div class="times-wrapper">
                <div class="time-item" style="grid-column: 1/30">8:30</div>
                <div class="time-item" style="grid-column: 30/90">9:00</div>
                <div class="time-item" style="grid-column: 90/150">10:00</div>
                <div class="time-item" style="grid-column: 150/210">11:00</div>
                <div class="time-item" style="grid-column: 210/270">12:00</div>
                <div class="time-item" style="grid-column: 270/330">13:00</div>
                <div class="time-item" style="grid-column: 330/390">14:00</div>
            </div>
            
            {% for room in rooms %}
                {% for film in program[room]["films"] %}
                    <div id="f_{{film.id}}" class="program-item film {{ 'vg' if film.vg else '' }} {{ 'recom' if film.recommended else '' }}" start-time="{{film.time_from}}" end-time="{{film.time_to}}" room="{{film.room}}" item-id="f_{{film.id}}" onclick="showContextMenu(event, this)">
                        <div>
                            {{ film.name }}
                        </div>
                        <i id="program_item_star-f_{{film.id}}" class="program-item-star fa fa-star"></i>
                    </div>
                {% endfor %}
                {% for beseda in program[room]["besedy"] %}
                    <div id="b_{{beseda.id}}" class="program-item beseda {{ 'vg' if beseda.vg else '' }} {{ 'recom' if beseda.recommended else '' }}" start-time="{{beseda.time_from}}" end-time="{{beseda.time_to}}" room="{{beseda.room}}" item-id="b_{{beseda.id}}" onclick="showContextMenu(event, this)">
                        <div>
                            {{ beseda.name }}
                        </div>
                        <i id="program_item_star-b_{{beseda.id}}" class="program-item-star fa fa-star"></i>
                    </div>
                {% endfor %}
                {% for workshop in program[room]["workshops"] %}
                    <div id="w_{{workshop.id}}" class="program-item workshop {{ 'vg' if workshop.vg else '' }} {{ 'recom' if workshop.recommended else '' }}" start-time="{{workshop.time_from}}" end-time="{{workshop.time_to}}" room="{{workshop.room}}" item-id="w_{{workshop.id}}" onclick="showContextMenu(event, this)">
                        <div>
                            {{ workshop.name }}
                        </div>
                        <i id="program_item_star-w_{{workshop.id}}" class="program-item-star fa fa-star"></i>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>

<!-- vytvoreni context menu elementu (to co se zobrazi po kliknuti) -->
{% for room in rooms %}
    {% for item in program[room]["films"] %}
    <div id="cm-f_{{item.id}}" class="item-details film-details" style="visibility: hidden;">
        <a href="{{ url_for('filmy') }}#f_{{item.id}}">
            <div class="cm-item-name">
                {{ item.name }}
            </div>
        </a>
        <div class="cm-item-time">{{ item.time_from }} - {{ item.time_to }}</div>
        {% if item.short_description %}
        <div><i>{{ item.short_description }}</i></div>
        {% endif %}
        <div>{{ item.language }}</div>
        <div>
            <a href="{{ item.link }}">odkaz</a>
        </div>
        {% if item.vg %}
        <div class="vg-text">Film je určen pouze pro <br> studenty vyššího gymnázia</div>
        {% endif %}
        <a href="javascript:toggleFavorite('{{'f_'+item.id|string}}')">
            <i id="star-f_{{item.id}}" class="fa fa-star favorite-star" aria-hidden="true"></i>
        </a>
    </div>
    {% endfor %}

    {% for item in program[room]["workshops"] %}
    <div id="cm-w_{{item.id}}" class="item-details workshop-details" style="visibility: hidden;">
        <a href="{{ url_for('workshopy') }}#w_{{ item.id }}">
            <div class="cm-item-name">
                {{ item.name }}
            </div>
        </a>
        <div>workshop</div>
        <div class="cm-item-time">{{ item.time_from }} - {{ item.time_to }}</div>
        {% if item.vg %}
        <div class="vg-text">Workshop je určen pouze pro <br> studenty vyššího gymnázia</div>
        {% endif %}
        <a href="javascript:toggleFavorite('{{'w_'+item.id|string}}')">
            <i id="star-w_{{item.id}}" class="fa fa-star favorite-star" aria-hidden="true"></i>
        </a>
    </div>
    {% endfor %}

    {% for item in program[room]["besedy"] %}
    <div id="cm-b_{{item.id}}" class="item-details beseda-details" style="visibility: hidden;">
        <div class="cm-item-name">
            {{ item.name }}
        </div>
        <div>beseda</div>
        <div class="cm-item-time">{{ item.time_from }} - {{ item.time_to }}</div>
        {% if item.host_id %}
            <a href="{{url_for('hoste')}}#h_{{item.host_id}}">
                <div>host</div>
            </a>
        {% endif %}
        {% if item.vg %}
        <div class="vg-text">Beseda je určena pouze pro studenty vyššího gymnázia</div>
        {% endif %}
        <a href="javascript:toggleFavorite('{{'b_'+item.id|string}}')">
            <i id="star-b_{{item.id}}" class="fa fa-star favorite-star" aria-hidden="true"></i>
        </a>
    </div>
    {% endfor %}
{% endfor %}

<!-- navbar dole -->
<nav class="program-day program-nav">
    <a id="nav-day-1" class="button-link" href="/program/day/1">Den 1</a>
    <a id="nav-day-2" class="button-link" href="/program/day/2">Den 2</a>
    <a id="nav-day-3" class="button-link" href="/program/day/3">Den 3</a>
    <a class="button-link" href="{{ url_for('favorite_day', dayn=day) }}">Můj program</a>
</nav>
<script src="{{ url_for('static', filename='js/program.js') }}"></script>
<script>
    document.getElementById('program').classList.add('active');
    var day = "{{day}}";
    var day_nav = document.getElementById('nav-day-'+day);
    day_nav.classList.add('disabled');
</script>
{% endblock %}