{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
<title>JSNO - Program</title>
{% endblock %}


{% block body %}
<div class="program-all-container">
    <div class="program-all-filmy">
        <h2>Filmy</h2>
        <table>
            <tr>
                <th class="sort sort-name">Film</th>
                <th class="sort sort-day">Den</th>
                <th class="sort sort-time">Čas</th>
                <th class="sort sort-room">Místnost</th>
                <th>Jazyk</th>
                <th>Odkaz</th>
                <th>Pouze pro vyšší gympl</th>
                <th>Doporučeno</th>
                <th>Program</th>
            </tr>
            {% for film in films %}
            <tr>
                <td>
                    <a href="{{ url_for('filmy') }}#f_{{item.id}}">
                        {{ film.name }}
                    </a>
                </td>
                <td>{{ film.day }}</td>
                <td>{{ film.time_from }} - {{ film.time_to }}</td>
                <td>{{ film.room }}</td>
                <td>{{ film.language }}</td>
                <td>
                    <a href="{{ film.link }}">odkaz</a>
                </td>
                <td>{{ 'ano' if film.vg else 'ne' }}</td>
                <td>{{ 'ano' if film.recommended else '' }}</td>
                <td>
                    <a href="{{ url_for('program_day', dayn=film.day) }}?f_{{film.id}}">program</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="program-all-besedy">
        <h2>Besedy</h2>
        <table>
            <tr>
                <th class="sort sort-name">Beseda</th>
                <th class="sort sort-day">Den</th>
                <th class="sort sort-time">Čas</th>
                <th class="sort sort-room">Místnost</th>
                <th>Host</th>
                <th>Pouze pro vyšší gympl</th>
                <th>Doporučeno</th>
                <th>Program</th>
            </tr>
            {% for beseda in besedy %}
            <tr>
                <td>
                    {{ beseda.name }}
                </td>
                <td>{{ beseda.day }}</td>
                <td>{{ beseda.time_from }} - {{ beseda.time_to }}</td>
                <td>{{ beseda.room }}</td>
                <td>
                    {% for host in hosts %}
                        {% if host.id == beseda.host_id %}
                            <a href="{{ url_for('hoste')}}#h_{{host.id}}">{{ host.name }}</a>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ 'ano' if beseda.vg else 'ne' }}</td>
                <td>{{ 'ano' if beseda.recommended else '' }}</td>
                <td>
                    <a href="{{ url_for('program_day', dayn=beseda.day) }}?b_{{beseda.id}}">program</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="program-all-workshops">
        <h2>Workshopy</h2>
        <table>
            <tr>
                <th class="sort sort-name">Workshop</th>
                <th class="sort sort-day">Den</th>
                <th class="sort sort-time">Čas</th>
                <th class="sort sort-room">Místnost</th>
                <th>Autor</th>
                <th>Pouze pro vyšší gympl</th>
                <th>Doporučeno</th>
                <th>Program</th>
            </tr>
            {% for workshop in workshops %}
            <tr>
                <td>
                    <a href="{{url_for('workshopy')}}#w_{{workshop.id}}">{{ workshop.name }}</a>
                </td>
                <td>{{ workshop.day }}</td>
                <td>{{ workshop.time_from }} - {{ workshop.time_to }}</td>
                <td>{{ workshop.room }}</td>
                <td>{{ workshop.author }}</td>
                <td>{{ 'ano' if workshop.vg else 'ne' }}</td>
                <td>{{ 'ano' if workshop.recommended else '' }}</td>
                <td>
                    <a href="{{ url_for('program_day', dayn=workshop.day) }}?w_{{workshop.id}}">program</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="program-all-hosts">
        <h2>Hosté</h2>
        <table>
            <tr>
                <th>Host</th>
            </tr>
            {% for host in hosts %}
            <tr>
                <td>
                    <a href="{{url_for('hoste')}}#h_{{host.id}}">{{ host.name }}</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<style>
    .sort {
        cursor: pointer;
        transition: background-color .2s;
    }
    .sort:hover {
        background-color: var(--secondary-color);
    }
    th:is(:first-child), td:is(:first-child) {
        min-width: 100px;
    }

    th:is(:nth-child(3)), th:is(:nth-child(3)) {
        min-width: 115px;
    }

    @media screen and (max-width: 900px) {
        /* na malych obrazovkach nezobrazuju jestli je pro vyssi gympl nebo doporuceny */
        div:not(.program-all-hosts) > table td:is(:nth-last-child(2)), div:not(.program-all-hosts) > table th:is(:nth-last-child(2)),
        div:not(.program-all-hosts) > table td:is(:nth-last-child(3)), div:not(.program-all-hosts) > table th:is(:nth-last-child(3)) {
            display: none;
        }
        div.program-all-filmy td:is(:nth-last-child(4)), div.program-all-filmy th:is(:nth-last-child(4)) {
            display: none;
        }
    }
</style>
<script>
    document.getElementById('program').classList.add('active');
</script>
<script>
    function processSortClick(event) {
        element = event.target
        sort_type = ""
        if (element.className.includes("sort-day")) { sort_type = "day" }
        if (element.className.includes("sort-time")) { sort_type = "time" }
        if (element.className.includes("sort-room")) { sort_type = "room" }
        if (element.className.includes("sort-name")) { sort_type = "name" }
        window.location = `${window.location}`.split("?")[0] + `?sort=${sort_type}`
    }

    document.querySelectorAll(".sort").forEach(element => {
        element.addEventListener("click", processSortClick)
    })
</script>
{% endblock %}