{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/tables.css') }}">
{% endblock %}


{% block body %}
<h2>Filmy</h2>
<table>
    <tr>
        <th>Film</th>
        <th>Den</th>
        <th>Čas</th>
        <th>Třída</th>
    </tr>
    {% for film in db["films"] %}
    <tr>
        <td>
            <a href="/film/{{ film['id'] }}">{{ film["name"] }}</a>
        </td>
        <td>{{ film["day"] }}</td>
        <td>{{ film["from"] }} - {{ film["to"] }}</td>
        <td>{{ film["room"] }}</td>
    </tr>
    {% endfor %}
</table>

<script>
    document.getElementById('program').classList.add('active');
</script>
{% endblock %}