{% extends 'base.html' %}

{% block head %}
<title>JSNO - Program</title>
{% endblock %}


{% block body %}
<h1>Program</h1>
<nav class="program-nav">
    <a class="button-link" href="/program/day/1">Den 1</a>
    <a class="button-link" href="/program/day/2">Den 2</a>
    <a class="button-link" href="/program/day/3">Den 3</a>
    <a class="button-link" href="/program/all">Celý program</a>
    <a class="button-link" href="{{ url_for('favorite') }}">Můj program</a>
</nav>

<script>
    document.getElementById('program').classList.add('active');
</script>
{% endblock %}