{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/tables.css') }}">
<script src="https://unpkg.com/htmx.org@1.9.10"></script>
{% endblock %}


{% block body %}
<div class="search-bar">
    <input type="text" class="search-input" placeholder="Hledat" name="q" hx-get="{{ url_for('search_query') }}" hx-trigger="load, keyup changed delay:300ms" hx-target="#results">
</div>

<span id="no-results" style="visibility: hidden;">Žádné výsledky</span>

<table class="search-results" style="visibility: hidden;">
    <thead>
        <tr>
            <th>Název</th>
            <th>typ</th>
            <th>Den</th>
            <th>Čas</th>
        </tr>
    </thead>
    <tbody id="results"></tbody>
</table>

<script>
    document.getElementById('search').classList.add('active');
</script>
{% endblock %}