{% extends 'base.html' %}

{% block head %}
<title>JSNO - Tým</title>
{% endblock %}


{% block body %}
<h1>Tým</h1>
<ul>
    <li>Petr Suchánek - filmový program, organizace</li>
    <li>Viktorie Fejfarová - finance, sponzoři</li>
    <li>Hedvika Starobová - hosté, besedy, workshopy</li>
    <li>Natalie Plomp - výzdoba</li>
    <li>Týna Šnobrová - výzdoba, design, soc. sítě</li>
    <li>Čeněk Potužník - IT</li>
</ul>
<style>
    li {
        margin-bottom: .2rem;
    }
</style>
<script>
    document.getElementById('tym').classList.add('active');
</script>
{% endblock %}