{% extends 'base.html' %}

{% block head %}
<title>JSNO - Tým</title>
{% endblock %}


{% block body %}
<h1>Tým</h1>
<ul>
    <li><b><a href="mailto:emahalkova@jsnsgekom.cz">Ema Hálková</a></b> - filmový program</li>
    <li><b><a href="mailto:ninajanotova@jsnsgekom.cz">Nina Janotová</a></b> - hosté, besedy, workshopy</li>
    <li><b><a href="mailto:veronikajanatova@jsnsgekom.cz">Veronika Janatová</a></b> - festivalový prostor</li>
    <li><b><a href="mailto:xeniepenizkova@jsnsgekom.cz">Xenie Penížková</a></b> - finance, sponzoři</li>
    <li><b><a href="mailto:miriamblazkova@jsnsgekom.cz">Miriam Blažková</a></b> - propagace, design, sociální sítě</li>
    <li><b><a href="mailto:klarakoprivova@jsnsgekom.cz">Klára Kopřivová</a></b> - edukační aktivity</li>
    <li><b><a href="mailto:cenekpotuznik@jsnsgekom.cz">Čeněk Potužník</a></b> - IT - <a href="https://potuznik.dev" target="_blank"><b>potuznik.dev</b></a></li>
</ul>
<style>
    li {
        margin-bottom: .22rem;
        font-size: 1.05rem;
    }
</style>
<script>
    document.getElementById('tym').classList.add('active');
</script>
{% endblock %}