{% extends 'base.html' %}

{% block head %}
<title>JSNO - Tým</title>
{% endblock %}


{% block body %}
<h1>Tým</h1>
<ul>
    <li><b>Petr Suchánek</b> - filmový program, organizace</li>
    <li><b>Viktorie Fejfarová</b> - finance, sponzoři</li>
    <li><b>Hedvika Starobová</b> - hosté, besedy, workshopy</li>
    <li><b>Natalie Maria Plomp</b> - výzdoba</li>
    <li><b>Týna Šnobrová</b> - výzdoba, design, soc. sítě</li>
    <li><b>Čeněk Potužník</b> - IT</li>
</ul>
<style>
    li {
        margin-bottom: .22rem;
        font-size: 1.05rem;
    }
</style>
<script>
    document.getElementById('tym').classList.add('active');
</script>
{% endblock %}