{% extends 'base.html' %}

{% block head %}
<title>JSNO - Úvod</title>
{% endblock %}


{% block body %}
<h1> </h1>

<img id="logo-text" class="logo-text" src="{{ url_for('static', filename='img/logo_text_vec_cervena.svg') }}">

<div id="uvod-text">
    <p>
        Na festivalu JSNO se letos podíváme na různé <b>konfliktní situace</b>, které se odehrávají napříč všemi sférami našich životů. Pokusíme se je Vám přiblížit a nastínit jejich možné řešení.
    </p>
    <p>
        V průběhu tří dnů (16.-18.12.2024) se budete moci podívat na množství <b>filmů</b>, navštívit <b>besedy</b> a <b>workshopy</b>. K občerstvení, ale i k utřídění myšlenek bude jako vždy připravena <b>kavárna</b> společně s <b>čajovnou</b>. 
    </p>
    <p>
        Filmový festival bude letos nově začínat od <b>8:30</b>.
    </p>
    <p>
        Máte-li jakékoliv dotazy ohledně festivalu, napište nám na instragram <a href="https://www.instagram.com/ffgekom/" target="_blank">@ffgekom</a> nebo na email <a href="mailto:festival@jsno.cz">festival@jsno.cz</a>.
    </p>
    <p>
        Váš <a href="/tym" style="text-decoration: none">tým FF</a>
    </p>
    <br>
    <p>
        <b>27.12.2024</b> - Na našem <a href="https://www.youtube.com/@ffgekom" target="_blank">youtube kanálu</a> jsme zveřejnili letošní spoty!
    </p>
    <p>
        <b>21.12.2024</b> - Věnujte prosím několik minut vyplnění <a href="https://docs.google.com/forms/d/e/1FAIpQLSdYk8HnesKZ90It_vu7OEBhW08e3HF9qjnOhIDfID93-iWD7g/viewform" target="_blank">dotazníku o letošním festivalu</a>, ať máme zpětnou vazbu a můžeme se zlepšovat. Děkujeme!
    </p>
    <p>
        <b>20.12.2024</b> - Děkujeme za skvělý festival! Na stránky postupně přidáme fotografie z letošního ročníku a zveřejníme dotazník zpětné vazby. Váš tým FF 2024
    </p>
    <p>
        <b>17.12.2024</b> - V sekci <b><a href="{{ url_for('fotogalerie.index') }}">fotogalerie</a></b> najdete první fotky z letošního festivalu!
    </p>
    <p>
        <b>13.12.2024</b> - Spustili jsme přihlašování na workshopy! Mají omezenou kapacitu, tak neváhej a přihlaš se, dokud je místo.<br>
        Odkazy na přihlášení: <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSf1TEQBVMJcMUmT8MU8da2l2BD-WY7xjLDyV46GuD3Y1Ychtw/viewform"><b>Konsent</b></a>, <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfv80NdjTAW_rdKpTVYlGVY6g01Lozx4stWLLb63XWVqCln_A/viewform"><b>Nepanikař</b></a>, 
        <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfBX2BGUMIsWedmQts8WjlseQpegBBJ_7remo1Q2r0vSUh2YQ/viewform"><b>Nevyhasni</b></a>, <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScbYeR32Hfgb7d7T6oa3MMgp8HxthTsLZxvtbrcqNENIoqI-Q/viewform"><b>Moderní sebeobrana</b></a>
    </p>
    <p>
        <b>12.12.2024</b> - Zveřejnili jsme <a href="{{ url_for('program_day', dayn=1) }}">program</a>! Oblíbené filmy, besedy či workshopy si přidejte do <a href="{{ url_for('favorite_day', dayn=1) }}">vlastního programu</a> pomocí hvězdičky.
        Program je možné stáhnout pro offline zobrazení pomocí ikony v pravém horním rohu. 
    </p>
    <p>
        <b>2.12.2024</b> - Zveřejnili jsme seznam <a href="{{ url_for('filmy') }}"><b>filmů</b></a>, <a href="{{ url_for('hoste') }}"><b>hostů</b></a> a <a href="{{ url_for('workshopy') }}"><b>workshopů</b></a>, na které se můžete těšit.
    </p>
</div>

<small style="margin-top: 2rem;">Případné nápady na vylepšení stránky prosím posílejte na email
    <a href="mailto:admin@jsnsgekom.cz">admin@jsnsgekom.cz</a> nebo na discord cenekp. <br><small><a href="https://github.com/cenekp74/festival"
            target="_blank">zdrojový kód</a></small></small>

<script>
    document.getElementById('uvod').classList.add('active');
</script>

<style>
    .content {
        padding-right: 1vw; /* tohle je kvuli tomu, ze je nastaveny v main.css u contentu padding left 1vw, ale globalne vpravo nechci mit padding kvuli programu, proto ho nastavuju jenom tu (mozna by bylo lepsi nastavit padding right i globalne a u programu to odendat idk) */
    }
</style>
{% endblock %}